<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="justify-content-center" style="text-align: center;">
    {% if request.session.lang == "chi" %}
    <h3>已成功重設密碼</h3>
    <br>
    <p>請按<a href="{% url 'signinpage' %}">此處</a>重新登入.</p>
    {% else %}
    <h3>Password reset complete</h3>
    <br>
    <p>Your new password has been set. You can log in now on the <a href="{% url 'signinpage' %}">log in page</a>.</p>
</div>
{% endif %}
{% endblock %}