{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="align-items-center justify-content-center">
  {% if request.session.lang == 'chi' %}
  <table align="center">
    <tr><td><h3>忘記密碼?</h3></td></tr>
    <tr><td><p>請輸入您的電郵以重設.</p></td></tr>
    <tr>
      <td>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-success" type="submit" value="重設">
        </form>
      </td>
    </tr>
  </table>
  {% else %}
  <table align="center">
    <tr><td><h3>Forgot your password?</h3></td></tr>
    <tr><td><p>Enter your email address below, and we'll email instructions for setting a new one.</p></td></tr>
    <tr>
      <td>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-success" type="submit" value="Reset">
        </form>
      </td>
    </tr>
  </table>
  {% endif %}
  <br>
  <br>
</div>
{% endblock %}