{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="justify-content-center" style="text-align: center;">
  {% if request.session.lang == "chi" %}
  <h3>請查閱您的郵箱.</h3>
  <br>
  <p>請按電郵中的連結以重設密碼.</p>
  <br>
  {% else %}
  <h3>Check your inbox.</h3>
  <br>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
  <br>
  {% endif %}
</div>
{% endblock %}