<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% block content %}
<br>
<div class="align-items-center justify-content-center">
  <table align="center">
    {% if request.session.lang == "chi" %}
    <tr>
      <td><h3>重設您的密碼!</h3></td>
    </tr>
    <tr>
      <td>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-success" type="submit" value="重設密碼">
        </form>
      </td>
    </tr>
    {% else %}
    <tr>
      <td><h3>Set a new password!</h3></td>
    </tr>
    <tr>
      <td>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-success" type="submit" value="Reset my password">
        </form>
      </td>
    </tr>
    {% endif %}
  </table>

  {% endblock %}