<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Himona</title>
    <style>
        body{
        margin-left: 0px;
        margin-right: 0px;
        }
        .navbar-brand{
        margin-left: 10px;
        margin-right: 20px;
        font-size: x-large;
        }
        .nav-item{
        font-size: large;
        }
    </style>
</head>
<body>
<br>
<h1 style="text-align:center;">HIMONA<sup><font size="3" color="black">TM</font></sup></h1>
<br>
<!--Chinese-->
{% if request.session.lang == "chi" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">HIMONA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            {% if request.session.current == "aboutus" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/homepage/nav/aboutus">關於HIMONA</a>
            </li>
            {% if request.session.current == "howto" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/homepage/nav/howto">網站須知</a>
            </li>
            {% if request.session.current == "comment" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/homepage/nav/comment">留言或查詢</a>
            </li>
            {% if request.session.current == "products" %}
            <li class="nav-item dropdown active">
                {% else %}
            <li class="nav-item dropdown">
                {% endif %}
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">閣式貨品</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="/products/fashion/all/all/none">時裝</a>
                    <a class="dropdown-item" href="/products/characters/all/all/none">角色用品</a>
                    <a class="dropdown-item" href="/products/noncharacters/all/all/none">進口用品</a>
                </div>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            {% if 'username' in request.session %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">帳戶</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="/accountpage/orderspage">訂單</a>
                    <a class="dropdown-item" href="/accountpage/messengerpage">訊息</a>
                </div>
            </li>
            <li>
                <a class="nav-link" href="/cartpage/" style="color: FloralWhite;">購物車</a>
            </li>
            <li id="loginButton" class="nav-item">
                <a class="nav-link" href="/authenpage/logout" style="color: FloralWhite;">登出</a>
            </li>
            {% else %}
            <li>
            <a class="nav-link" href="/authenpage/signin" style="color: FloralWhite;">登入 | 註冊</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" disabled>
        </form>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">HIMONA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05" style="font-size: large">
        <ul class="navbar-nav mr-auto">
            {% if request.session.current == "aboutus" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/homepage/nav/aboutus">About HIMONA</a>
            </li>
            {% if request.session.current == "howto" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/homepage/nav/howto">HowTo</a>
            </li>
            {% if request.session.current == "comment" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/homepage/nav/comment">Inquiry</a>
            </li>
            {% if request.session.current == "products" %}
            <li class="nav-item dropdown active">
                {% else %}
            <li class="nav-item dropdown">
                {% endif %}
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="/products/fashion/all/all/none">Fashion</a>
                    <a class="dropdown-item" href="/products/characters/all/all/none">Characters' Items</a>
                    <a class="dropdown-item" href="/products/noncharacters/all/all/none">Imported Goods</a>
                </div>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            {% if 'username' in request.session %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">Accounts</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="/accountpage/orderspage">Orders</a>
                    <a class="dropdown-item" href="/accountpage/messengerpage">Messages</a>
                </div>
            </li>
            <li>
                <a class="nav-link" href="/cartpage/" style="color: FloralWhite;">Cart</a>
            </li>
            <li id="loginButton" class="nav-item">
                <a class="nav-link" href="/authenpage/logout" style="color: FloralWhite;">Logout</a>
            </li>
            {% else %}
            <li>
            <a class="nav-link" href="/authenpage/signin" style="color: FloralWhite;">Signin | Signup</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
        </form>
    </div>
</nav>
{% endif %}
<!--body-->

{% block content %}
{% endblock %}
<hr>

{% if request.session.lang == "chi" %}
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5">
        <div class="row">
            <!--div class="col-12 col-md">
                <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
            </div-->
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Languages</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/lang/chi">中文</a></li>
                    <li><a class="text-muted" href="/lang/eng">English</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% else %}
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5">
        <div class="row">
            <!--div class="col-12 col-md">
                <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
            </div-->
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Languages</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/lang/chi">中文</a></li>
                    <li><a class="text-muted" href="/lang/eng">English</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endif %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>