<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="col-12 col-md-2"></div>
<div class="col-12 col-md-10"></div>
<div class="col-12 col-md-2"></div>
{% endblock%}
</body>
</html>