<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="row"><br></div>
<div class="row">
    <div class="col-sm-12 col-lg-2"><p> </p></div>
    <div class="col-sm-12 col-lg-8">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 20%; text-align: center;" scope="col">Tools</th>
                    <th style="width: 80%; text-align: center;" scope="col">Links</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><a class="btn btn-primary" href="/accountpage/addmessage" role="button">HIMONA Email Direct</a></th>
                    <td align="justify">
                        <ul>
                            <li>
                                <p>
                                    {% if request.session.lang == "chi" %}
                                    您可以使用此直線電郵功能來作出<span style="color: red; font-weight: bold;">任何</span>類形的查詢.
                                    <br>
                                    <span style="color: red;">**請先登入才可使用此功能.**</span>
                                    {% else %}
                                    You may make <span style="color: red; font-weight: bold;">any type</span> of inquiry through this direct email system.
                                    <br>
                                    <span style="color: red;">**Please Login to use this function.**</span>
                                    {% endif %}
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Facebook</th>
                    <td align="justify">
                        <ul>
                            <li>
                                <p>
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Instagram</th>
                    <td align="justify">
                        <ul>
                            <li>
                                <p>
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td align="justify">
                        <ul>
                            <li>
                                <p>
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Telephone</th>
                    <td align="justify">
                        <ul>
                            <li>
                                <p>
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>