<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="row">
    <br>
</div>
<center><h3>Terms and Conditions | 條款及細則</h3></center>
<div class="row">
    <div class="col-sm-12 col-lg-2"><p> </p></div>
    <div class="col-sm-12 col-lg-8">
        <div class="table-responsive"></div>
        <!--if request.session.lang == "chi" -->
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th style="width: 20%" scope="col">Chapter 章節</th>
                <th style="width: 80%" scope="col">Description 詳細說明</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1. Information provided for signup and shopping<br>1. 註冊和選購所提供的資料</th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                Signing up or making a purchase on our website means that you are over 18 years old.
                                <br>
                                在本網站註冊或選購即表示閣下經已年滿18歲。
                            </p>
                        </li>
                        <li>
                            <p>
                                Signing up at our website means that you agree to abide by the terms, conditions, and privacy policy set by us.
                                <br>
                                確認註冊或進行選購即表示閣下同意遵循本網站所訂的條款、細則及私隱政策。
                            </p>
                        </li>
                        <li>
                            <p>
                                If you violate 1.2., we can delete and remove your account without notifying you.
                                <br>
                                若閣下違反 1.2.，我們可以在不作出任何通知的情況下刪除閣下帳號。
                            </p>
                        </li>
                        <li>
                            <p>
                                When filling up information regarding signup or purchase, you must provide correct and valid (meaning contactable) information for us to handle the situations. We have the right to cancel your order without refund if the information provided is false and non-contactable. We consider information as okay as long as the information is contactable. The information you provide to us must represent yourself, or it must be warranted by the corresponding party, we do not bear any consequence caused by unauthorised actions.
                                <br>
                                閣下有義務在註冊或選購時填寫正確有效(可供聯絡)的資訊以讓本網站為閣下提供相關服務。當閣下提供的所需資料為不正確且不可聯絡時，我們有權取消閣下的訂單且不會作出退款。換言之，閣下提供可聯絡的資訊便可。閣下所提供的資訊必須代表閣下本人或已經取得相關持份者的准許，我們不會為因閣下擅自取用資料所帶來的後果負任何責任。
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>

            <tr>
                <th scope="row">
                    2. Order, Purchase and Payment
                    <br>
                    2. 下單，購買及付款
                </th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                To make an order, you must first sign in to your account. You can view the price and status (availability) of the item you want. Then, you can select your add the item to the shopping cart. Because of time delay due to physical limitations, please double check your order status (under My Account>Order) once you check out your cart. You can always cancel your order at no cost before you make the payment.
                                <br>
                                閣下必先登入自己的帳戶才可進行選購。登入後閣下可以查看有關貨品的價目及存貨。閣下可按所願把有關貨品加到購物車。由於物理限制，請於下單後再次到 我的帳戶>訂單 確認有關存貨狀態。閣下可於付款前無條件取消有關訂單。
                            </p>
                        </li>
                        <li>
                            <p>
                                Please be noted that pre-order items require additional time (please refer to the latest news announced by us) for restocking. We have all the rights to refuse any pre-order made. If this is the case, we promise to refund at 100% rate.
                                <br>
                                預訂貨品需要額外時間讓我們為閣下補充存貨(請參閱我們發報的最新資訊)。我們有權拒絕預訂，但我們會為閣下退回100%的費用。
                            </p>
                        </li>
                        <li>
                            <p>
                                Our website employs a 2 steps check-out confirmation processes. 1) Check-out confirmation as the cart system and 2) payment confirmation. The order is considered as a successful order only when the said 2 steps confirmation process is fulfilled. We will not process orders which did not successfully go through the said 2 steps confirmation process.
                                <br>
                                本網站採取2段式結賬確認方法：1)於購物車系統中確認訂單和2)付款確認。當以上2段結賬確認方法皆通過確認後，有關訂單才會被視為成功確認的訂單。我們不會處理任何末成功通過上述2段結賬確認方法的訂單。
                            </p>
                        </li>
                        <li>
                            <p>
                                When your payment is confirmed, we will process your order as soon as possible; and you may track the status under My Account>Order.
                                <br>
                                當我們確認閣下的付款後我們會盡快處理有關訂單，閣下可隨時到 我的帳戶>訂單 中確認有關訂單的狀態。
                            </p>
                        </li>
                        <li>
                            <p>
                                For trust security reasons, we use third-party service <a href=”https://stripe.com/gb”>Stripe</a> to handle our online payment transactions. Stripe processes your credit card details directly, and we do not store the details.
                                <br>
                                基於信心和安全理由，我們利用第三方功能 <a href=”https://stripe.com/gb”>Stripe</a> 來處理網上訂單付款，閣下的信用卡資料將由 Stripe 直接處理而我們並不會儲存有關資料。
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Replacement of goods, Returning of goods, and Refunding
                    <br>
                    更換、退貨及退款
                </th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                To be eligible for a replacement or refund, the goods received must be obviously damaged at the time of receiving. Any damage created after the sale will make the product not eligible for replacement or refund. Cases like (but are not limited to) untrimmed thread, and skipped stitching are considered as non-obvious damaged. In general, defects which affect the function of the product or obviously affect the appearance the product will be considered as obvious damage.
                                <br>
                                貨品必須出現明顯受損才可要求更換或退款，而該受損須為發貨時已造成的受損，任何出售後所造成的損害將令閣下不能就此貨品作出更換或退款要求。損害比如 ( 但不作限制 ) 線頭或跳線均不為明顯受損。一般而言，明顯受損意指貨品不能作出有關功能或外觀出現嚴重受損。
                            </p>
                        </li>
                        <li>
                            <p>
                                Replacement or refund will only be issued after the product is returned. You have to bear the shipping fee when returning the goods. The shipping fee is claimable once we confirm the damage is indeed obvious. To avoid overcharge, we only accept parcels delivered by <a href= “http://www.sf-express.com/hk/en/”>SF Express</a>.
                                <br>
                                我們只會在收回受損貨品後才會發出更換品或退款。閣下需要承擔運費，而有關運費將會在我們確認有關受損為明顯受損後退回。為了避免超額運費，我們只會接受由 <a href= “http://www.sf-express.com/hk/en/”>SF Express</a> 送遞的郵件。
                            </p>
                        </li>
                        <li>
                            <p>
                                You can choose whether to receive your products by delivery or to pick up at our store. The delivery service we are using is by <a href= “http://www.sf-express.com/hk/en/”>SF Express</a>, and you will have to bear the shipment cost. There is no shipping fee if you choose to pick up at our store.
                                <br>
                                閣下可以選擇以速遞或自取(無需運費)方式收取貨品，我們使用 <a href= “http://www.sf-express.com/hk/en/”>SF Express</a> 來投遞，收費以到付形式收取。
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Data Collection, and Privacy Policy
                    <br>
                    資料收集及私隱政策
                </th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                Please read <a href="/homepage/nav/privacyterms">"Data Collection, and Privacy Policy"</a>.
                                <br>
                                請閱讀<a href="/homepage/nav/privacyterms">《資料收集及私隱政策》</a>。
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>


            <!--tr>
                <th scope="row">
                    <br>
                </th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                <br>
                            </p>
                        </li>
                    </ol>
                </td>
            </tr-->

            </tbody>
        </table>

    </div>
</div>
<div class="col-sm-12 col-lg-2"><p> </p></div>
</div>
{% endblock%}
</body>
</html>