<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="row"><br></div>
<div class="row">
    <div class="col-sm-12 col-lg-2"><p> </p></div>
    <div class="col-sm-12 col-lg-8">
        <div class="table-responsive"></div>
        {% if request.session.lang == "chi" %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th style="width: 20%" scope="col">政策</th>
                <th style="width: 80%" scope="col">詳述</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">購物須知</th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                您必須年滿16歲才可於我們的網站購物。
                            </p>
                        </li>
                        <li>
                            <p>
                                請註冊並使用該帳戶來購物，註冊時所提供的個人資料只供用作發貨通知、減價推銷及訊息回覆所用，我們會根據我們的個人私隱
                                守則來使用及儲存您所提供的個人資料。您須確認並同意本網站之政策才可註冊並於本網站購物。
                            </p>
                        </li>
                        <li>
                            <p>
                                當移至貨品分頁後，您可點按欲購的貨品來查看詳情。您可於貨品詳情頁中揀選欲購的款式、大小及數量來把該貨品加
                                到您的購物車中。
                            </p>
                        </li>
                        <li>
                            <p>
                                如要更改您的選項，請按該貨品編號來到更改。
                            </p>
                        </li>
                        <li>
                            <p>
                                結賬時請記得揀選您想使用的送貨及付款方法並填寫有關取貨確認時所須的資料(姓名、聯絡電話及送貨地址)，若您選
                                擇自取則可無需填寫任何地址。
                            </p>
                        </li>
                        <li>
                            <p>
                                若您所選用的付款媒介(如信用卡)並非由您所擁有，您將表示並確定您已獲得該擁用人的准許並用意我們對該付款媒介
                                進行對您的收款。
                            </p>
                        </li>
                        <li>
                            <p>
                                當您填寫好並已進行結脹，您可到您的帳戶中的訂單頁來進行付款。若您選擇了使用信用卡來付款，您將見到一個「付款」
                                的按鈕；若您選擇的是銀行轉帳，那麼您將見到一個「上傳」的按鈕。請按下該按鈕並依照其指示來付款或上傳轉帳收據。
                                若您選擇的是透過信用卡進行網上付款，您將會被轉至<span style="font-weight: bold;"><a href="https://stripe.com/en-HK/"> Stripe.com</a></span>，
                                它是我們選擇的第三方信用卡付款處理系統。
                            </p>
                        </li>
                        <li>
                            <p>
                                您可於付款前點按訂單編號來修改付款或送貨方法。
                            </p>
                        </li>
                        <li>
                            <p>
                                <span style="font-weight: bold; color: red;">**注意**</span>
                                任何已結帳但未付款的訂單將會於<span style="font-weight: bold; color: red;">
                                48 hours</span>小時後被自動取消，為您留起的貨品亦會重新給予其他客戶選購。
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">送貨須知</th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                自取是免費的。
                            </p>
                        </li>
                        <li>
                            <p>
                                若您選擇送貨到某地址，我們將使用<span style="font-weight: bold; color: red;">S.F. Express 順豐</span>
                                來進行送貨，而送貨所須的費用則由<span style="font-weight: bold; color: red;">客戶承擔(到付)</span>。
                                <br><br>
                                <span style="font-weight: bold; color: red;">**注意**</span> 若您欲選擇送貨到順豐自提點，請在結
                                帳時填寫該自提點的地址或編號。
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">取消訂單及退款
                    <br>
                    &
                    <br>
                    退款貨品歸還須知
                </th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                您可在付款前免費取消訂單。
                            </p>
                        </li>
                        <li>
                            <p>
                                若您因個人理由而欲取消訂單，我們會不論您的付款方法向您的退款款項中扣除行政費用
                                (<span style="font-weight: bold; color: red;">$3 + 訂單總額的 4%</span> 即 $100 的訂單會被收取 $7
                                又或 $1000 的訂單會被收取 $43)。
                            </p>
                        </li>
                        <li>
                            <p>
                                若您選擇了送貨到某地址，除了 2.中描述的款項外，您亦須承擔貨物歸還的運輸費用(寄付)。此款項會跟據該訂單送貨狀態而定。
                                然而您而可自行歸還貨物到我們的實體店。
                            </p>
                        </li>
                        <li>
                            <p>
                                <span style="font-weight: bold; color: red;">**注意**</span> 只有未開封的貨品才可跟據此部分退款。
                                已開封的貨品則須跟據下述「退換及歸還須知」的程序。
                            </p>
                            <p>
                                您最遲可於收到貨品(包括順豐取貨通知)後連同收據於 7 天內向我們提出有關要求。
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">退換及歸還須知</th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                我們會在發貨前續一檢查的所訂購的貨品，但我們不能100%承諾您收到的貨品會是完好無缺，所以我們會為這些特例提
                                供免費的更換服務，。
                            </p>
                            <p>
                                此外，若您的貨品並沒有問題但您仍欲更換款式大小，您可向我們查詢有關存貨及更換可能。您亦可能須要負責歸還及重新發貨
                                的運費，這取決於您所選擇的運送方法。
                            </p>
                            <p>
                                除非出現重大瑕疵，否則我們不會為折扣或已告知的折扣瑕疵品提供更換服務。
                            </p>
                            <p>
                                如欲提出或查詢退換服務，請於<span style="font-weight: bold; color: red;"> 7 天內連同收據</span>
                                聯絡我們的客戶服務。我們的客戶服務可能要求您提供相片或額外資訊以作評估。
                            </p>
                            <p>
                                如欲到門市換貨亦請先於網上向我們查詢，因我們可以為您預先留起存貨。
                            </p>
                        </li>
                        <li>
                            <p>
                                <span style="font-weight: bold; color: red;">**注意**</span>除非換貨品出現再次出現明顥瑕疵，否則您只可
                                免費換貨一次，而換貨品均不可退還。我們只會接受更換不曾穿著、使用、而且狀態為清潔及保持著出售狀態的貨品
                                (包括完整標牌和包裝，如適用)。
                            </p>
                            <p>
                                任何內衣、襪、襪褲、整形內衣、緊身衣褲、泳衣褲、嬰兒衣服物品、折扣品及已告知的折扣瑕疵品均不可要求退款或更換。
                            </p>
                            <p>
                                我們會為因明顥瑕疵而退還的貨品承擔運輸費用(須要收據)。
                            </p>
                            <p>
                                您最遲可於收到貨品(包括順豐取貨通知)後連同收據於 7 天內向我們提出有關要求(連同收據)。
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">個人私隱政策</th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                請閱<span><a href="/homepage/nav/privacyterms">《個人私隱政策》</a></span> 頁.
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            </tbody>
        </table>
        {% else %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th style="width: 20%" scope="col">Policy</th>
                <th style="width: 80%" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Shopping at our website</th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                To Shop at our website, you must be over 16 years old.
                            </p>
                        </li>
                        <li>
                            <p>
                                To shop at out website, please create an account under our signup page. You may access the page
                                through the navigation bar. To create an account, you will have to agree and fill up some
                                personal information for us to contact you (in the cases of delivery notification | promotion | reply)
                                We will secure your personal information according to our privacy policy.
                            </p>
                        </li>
                        <li>
                            <p>
                                After moving to our products' page, please click on the product you wish to add the cart to
                                view its availability. You may add the desired item (with desired color, size, and quantity
                                being chosen) to your shopping cart.
                            </p>
                        </li>
                        <li>
                            <p>
                                To modify your items selection, please visit your shopping cart and click on the item ID
                                to modify your choices.
                            </p>
                        </li>
                        <li>
                            <p>
                                Please remember to choose which type of payment method and delivery method you would like
                                to use. The first name, last name, address, and the contact number are collected for delivery
                                or pick up confirm usage only.
                            </p>
                        </li>
                        <li>
                            <p>
                                If you provide us with payment media (e.g. credit card and debit card) from another person,
                                you represent and warrant to us that you have obtained all necessary consents from that
                                other person to permit us to process the payment.
                            </p>
                        </li>
                        <li>
                            <p>
                                After checking-out your shopping cart, You may pay your orders under Accout -> Orders. If
                                you have chosen to pay with credit card, a "Pay Now" button will be shown on the right hand
                                side of the order row. On the other hand, an "Upload Now" button will be shown instead if
                                you have chosen to make the payment via bank transfer. Please follow the instructions afterwards.
                                If you have chosen to pay with credit cards, you will be redirected to
                                <span style="font-weight: bold;"><a href="https://stripe.com/en-HK/"> Stripe.com</a></span>,
                                which is a well-known third-party company aims to provide secure credit card payment handling
                                services.
                            </p>
                        </li>
                        <li>
                            <p>
                                You may click on the Invoice ID to change your payment and delivery method. If you wish to
                                change the methods, please change them before making any payment.
                            </p>
                        </li>
                        <li>
                            <p>
                                <span style="font-weight: bold; color: red;">**Caution**</span> Any checked out but unpaid
                                order will be canceled automatically after <span style="font-weight: bold; color: red;">
                                48 hours</span> upon "check out" (without prior notification). The items will be released
                                for others to order once again.
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">Delivery or pick up at our store</th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                If you choose to pick up your order at our store, there will be no extra delivery fee.
                            </p>
                        </li>
                        <li>
                            <p>
                                If you choose to have your order delivered to an address, the delivery will be
                                <span style="font-weight: bold; color: red;">Freight Collect</span>. We are using
                                <span style="font-weight: bold; color: red;">S.F. Express</span> to deliver your order.
                                <br><br>
                                <span style="font-weight: bold; color: red;">**Caution**</span> To deliver your order to
                                a S.F. Express pick up point, please state the pick up point address when you are checking
                                out your order.
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">Cancelling and refunding your order
                    <br>
                    &
                    <br>
                    returning of refunding goods
                </th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                There will be no extra charges if you cancel your order before making any payment.
                            </p>
                        </li>
                        <li>
                            <p>
                                Once you have paid for your order, if you wish to cancel your order because of your own reasons,
                                an amount of <span style="font-weight: bold; color: red;">4% + $3 of your order's total amount</span>
                                (e.g. $7 will be charged if your order's total amount is $100 | $43 will be charged if your order's
                                total amount is $1000) will be charged (irrespective of which payment method you have used).
                                fees.
                            </p>
                        </li>
                        <li>
                            <p>
                                If you wish to cancel your order and you have chosen to have your order delivered to an address,
                                the same amount as described in 2. will be charged. <span style="font-weight: bold; color: red;">
                                Also, you will be responsible for the returning delivery costs.</span> However, you may return
                                the items to our physical store. In this case, only fees described in 2. will be charged.
                            </p>
                        </li>
                        <li>
                            <p>
                                <span style="font-weight: bold; color: red;">**Caution**</span> Only unopened packed order
                                could be refunded.
                            </p>
                            <p>
                                Effective receipt is needed for product refunds no later than 7 days after receiving the products.
                                (including arrival notice from S.F. Express)
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">Exchanging and returning of goods</th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                Before sending out the your order, we checked every single one of the items to ensure their quality.
                                However, we are all human, and there is no guarantee that we could provide 100% quality guarantee.
                                If the items you received is one of those outsiders, we offer free exchange service
                                (exchanging for the same products).
                            </p>
                            <p>
                                You may exchange your product with a different size or color if the product was not discounted at
                                the purchase time. However, we may not be able to exchange for you if we do not have the desired
                                size or color in stock. Also, you will need to bear all the shipping costs if you choose to return
                                or receive your products by mail.
                            </p>
                            <p>
                                Discounted products are not exchangeable with an exception which if the products' quality issue
                                were not mentioned at the time of purchase.
                            </p>
                            <p>
                                To arrange exchange service, please contact our customer service
                                <span style="font-weight: bold; color: red;">within 7 days</span> upon receiving your order.
                                Photos and additional information may be required by our customer service to evaluate the case.
                            </p>
                            <p>
                                **Please contact our online customer service even if you wish to exchange products at our
                                physical store, as we have to hold up the products for you to exchange.
                            </p>
                        </li>
                        <li>
                            <p>
                                <span style="font-weight: bold; color: red;">**Caution**</span>Except goods with quality
                                issue, all items could only be exchanged or returned once, and exchanged items could not
                                be returned. We could only exchange goods that have not been worn or used, and are in new,
                                clean and original selling conditions with all tags and packing (if applicable) intact.
                            </p>
                            <p>
                                Innerwear, socks, leggings, body-shapers, support tights, swimwear, baby items, pants
                                with alteration and discounted defective items sold could not be returned nor exchanged.
                            </p>
                            <p>
                                We will bear the shipping fees only if the products are returned due to quality issues (with receipt).
                            </p>
                            <p>
                                Effective receipt is needed for product exchange no later than 7 days after receiving the products.
                                (including arrival notice from S.F. Express)
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">Privacy policy</th>
                <td align="justify">
                    <ol>
                        <li>
                            <p>
                                Please visit our <span><a href="/homepage/nav/privacyterms">Privacy Policy</a></span> page.
                            </p>
                        </li>
                    </ol>
                </td>
            </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<div class="col-sm-12 col-lg-2"><p> </p></div>
</div>
{% endblock%}
</body>
</html>