<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="row"><br></div>
<div class="row">
    <div class="col-sm-12 col-lg-2"><p> </p></div>
    <div class="col-sm-12 col-lg-8">
        <div class="table-responsive"></div>
        {% if request.session.lang == "chi" %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th style="width: 20%; text-align: center;" scope="col">
                    <h5>Section</h5>
                </th>
                <th style="width: 80%; text-align: center;" scope="col">
                    <h5>PRIVACY POLICY</h5>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2" align="justify">
                    本私隱政策適用於HIMONA.com.hk網站，以及當您透過我們的店內訂閱、電話或其他自願方式向我
                    們提供您的個人資料（「網站」）。本政策解釋了我們如何收集、使用及披露您的個人資料，包括我們在處理您的個人資料時有關我
                    們的義務和您的權利，來實現我們為您提供滿意和舒適之購物體驗的承諾。請仔細閱讀本政策。如您選擇瀏覧本網站和/或使用本網
                    站上提供之產品和服務，即表示您同意本私隱政策適用於我們持有您的所有個人資料，任何有關私隱的爭議均受本私隱政策和本網站
                    的條款和細則約束。HIMONA HONG KONG（「我們」、「我們的」及「公司」）受香港《個人資料（私隱）條例 （第486章）》
                    及澳門《個人資料保護法（第8/2005號法律）》約束。 我們明白保護個人資料的重要性並感謝您對我們的信任，我們會以謹慎和明
                    智的方式尊重您的私隱。
                </td>
            </tr>
            <tr>
                <th scope="row">1）個人資料</th>
                <td align="justify">
                    <ol>
                        <li>
                            個人資料（「個人資料」）包括您的姓名、住址、電郵地址、電話號碼、性別、年齡、信用卡或借記卡數據以及您提供給
                            我們用作身份識別目的之其他資料。
                        </li>
                        <li>
                            我們的網站只適用於成年人使用。我們不會有意收集16歲以下兒童的任何個人資料。未滿16歲的兒童不得使用本網站或向
                            我們提供任何個人資料。
                        </li>
                        <li>
                            一旦您自願向我們提供有關他人的個人資料，您向我們聲明並保證您已獲得該人士之的必要許可，以允許我們依據本私隱
                            政策中的規定使用該人士之個人資料。
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">2）收集個人資料</th>
                <td align="justify">
                    <ol>
                        <li>
                            當您使用本網站，包括當您自願於本網站註冊帳戶或更新您現有的個人資料，訂閱通訊或小冊子時，發電子郵件給我們、
                            使用我們的客戶服務、回答調查問卷、參加促銷活動、在我們的網站或社交網絡留言板發佈資料或向我們的網站提交任何
                            資訊，我們可能要求您提供個人資料。
                        </li>
                        <li>
                            請注意，您必須提供若干類別的個人資料（在收集時會列明）。假如您未能提供任何被標記為必須提供的個人資料，我們
                            可能無法處理您的要求或為您提供我們的產品或服務。
                        </li>
                        <li>
                            我們可能會在網頁上使用cookies或類似技術， 幫助我們管理您的網頁體驗和為顧客提供個人化網站。我們不使用cookies
                            或類似技術來收集或儲存個人資料，您可以簡單地修改瀏覽器的使用設定配置選擇停止cookies或類似技術的使用，但停用
                            cookies或類似技術，某些功能或不再適用。
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">3）收集個人資料</th>
                <td align="justify">
                    <p>我們收集和使用您的個人資料乃用於：</p>
                    <ol>
                        <li>
                            我們收集和使用您的個人資料乃用於；
                        </li>
                        <li>
                            為您提供客戶服務及回覆您的查詢、意見或要求；
                        </li>
                        <li>
                            追踪和分析您的購買、交易、購物模式、帳戶活動和付款歷史；
                        </li>
                        <li>
                            提供有關公司的資料及我們的產品，例如通訊錄、活動、促銷商品或競賽活動；
                        </li>
                        <li>
                            對研究和統計、產品和服務進行調查和分析，以改善您的購物體驗（我們可根據您的興趣定制我們的網站並相應地向您提供特定產品）；及
                        </li>
                        <li>
                            遵守法律要求。
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">4）管理個人資料</th>
                <td align="justify">
                    <p>我們出於以下目的收集以及使用您的個人資料：</p>
                    <ol>
                        <li>
                            我們採取合理措施確保我們收集的個人資料未經授權而被披露、濫用或丟失。除非法律另有要求或允許，我們將僅在您知
                            情和同意的情況下收集、使用或披露您的個人資料，包括私隱政策中規定的內容。
                        </li>
                        <li>
                            <p>
                                我們的資料安全部門負責確保您的個人資料受到保護並嚴格按照第3條文使用。我們嚴肅對待您的私隱。我們實施了安全的資料保障措施，包括：
                            </p>
                            <p>
                                （i）限制進入設施和適當處置個人資料等物理安全措施；和
                                <br>
                                （ii）用於存取計算機化個人資料的電子安全措施，如密碼保護。
                            </p>
                        </li>
                        <!--li>
                            我們可能會與迅銷集團分享您的個人資料，但前提為必須徵得您的同意，以便我們能夠通知您有關您可能喜歡的產品、
                            服務、獎勵和特別優惠。這些通知可通過郵件、電子郵件、電話、短信、自動撥號通知設備或其他形式的電子方式，使用
                            您提供給我們的聯繫資料提供給您。
                        </li>
                        <li>
                            我們可能會與迅銷集團分享您的個人資料，但前提為必須徵得您的同意，以便我們能夠通知您有關您可能喜歡的產品、
                            服務、獎勵和特別優惠。這些通知可通過郵件、電子郵件、電話、短信、自動撥號通知設備或其他形式的電子方式，使用
                            您提供給我們的聯繫資料提供給您。
                        </li-->
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">5）儲存個人資料</th>
                <td align="justify">
                    <ol>
                        <li>
                            我們將根據第3條規定，在必要和合理的情況下保持您的個人資料準確、完整和最新。
                        </li>
                        <li>
                            我們僅保留於第3條所列之目的或法律要求所必需的個人資料。
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">6）向第三方披露</th>
                <td align="justify">
                    <ol>
                        <li>
                            除非經您同意/表示不反對的情況下或在法律要求/允許下，否則個人資料不得用於第3條所列目的以外之目的。
                        </li>
                        <li>
                            為履行第3條之目的，我們可能會將您的個人資料披露或轉讓給協力廠商（無論在香港、澳門或海外），包括我們的子母公司和關
                            聯公司，尤其我們可能會與幫助我們業務運營的協力廠商承包商或服務提供商（「協力廠商」）共用您的個人資料，例如技術服務
                            供應商、財物交易、物流服務、運輸、獎勵計劃、訂單管理和客戶服務、欺詐調查和/或通過本網站進行的交易分析。
                        </li>
                        <li>
                            請放心，當我們向第三方披露您的個人資料時，我們將按照合約或其他適當方式，以確保此第三方遵守本私隱政策和所有適用的香港私隱法。
                        </li>
                        <li>
                            我們可能會就不同目的（包括市場推廣和宣傳）將匯總數據在您身份不會被識別的情況下提供予第三方，及可能使用此資料以便更
                            了解您的需要及改善和調整我們的產品和服務。
                        </li>
                        <li>
                            倘我們認為有必要在不是出於本條款中指定的原因內與協力廠商共用您的個人資料時，我們將通知您，並且只會在徵得您的同意／
                            表示不反對的情況下提供予該協力廠商。
                        </li>
                        <li>
                            如果我們發現涉嫌欺詐、威脅人身安全或違反我們的條款及細則或相關法律的行為，我們將採取及時和所有適當措施來調查和解除此類風險。
                        </li>
                        <li>
                            通過在本網站或以其它方式向我們提供個人資料，您明確授權我們按照描述披露和使用您的資料。如果您不同意上述個人資料的使用，請不要使用網站。
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">7）私隱政策的變更</th>
                <td align="justify">
                    <ol>
                        <li>
                            我們可能會不時更改本私隱政策。您有義務經常查看我們網站，以查看私隱政策的最新變化。
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">8）您瀏覽個人資料的權利</th>
                <td align="justify">
                    <ol>
                        <li>
                            您有權查取我們持有有關您的個人資料及要求更正或者刪除您的個人資料。
                        </li>
                        <li>
                            <p>
                                倘您對本私隱政策存有任何疑問，或者您希望查詢、更正或刪除我們持有您的個人資料，請在「我的帳戶」頁面編輯或更新
                                您的個人資料或請直接發送書面要求到如下地址︰
                            </p>
                            <p>
                                地址：
                                <br>
                                電郵地址：
                            </p>
                        </li>
                        <li>
                            就處理任何查閱或更正個人資料的要求，我們保留權利向您收取合理費用。
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">9）第三者權利</th>
                <td align="justify">
                    <ol>
                        <li>
                            縱使生效後的香港《合約（第三者權利）條例》（第623章）及/或其他司法管轄區之類同法例，本私隱政策僅為您與我們之間締
                            約雙方利益而立，並不創造或賦予第三者任何利益。《合約（第三者權利）條例》及/或其他司法管轄區之類同法例下，授予第三
                            者行使本私隱政策之權利的條文之適用性在此明確豁除。本私隱政策並不、亦不擬供任何第三者行使。締約雙方行使其終止、撤銷、
                            同意修改、放棄、變更或處理本私隱政策的權力，並不需任何第三者同意。
                        </li>
                    </ol>
                </td>
            </tr>
            </tbody>
        </table>

        {% else %}

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th style="width: 20%; text-align: center;" scope="col">
                    <h5>Section</h5>
                </th>
                <th style="width: 80%; text-align: center;" scope="col">
                    <h5>PRIVACY POLICY</h5>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2" align="justify">
                    This Privacy Policy applies to the HIMONA.com website and when you share your
                    Personal Data with us through our in-store subscriptions, by phone, or via other voluntary means in
                    Hong Kong(the “Site”). It explains how we may collect, use and disclose your Personal Data,
                    including our obligations and your rights in respect of our dealings with your Personal Data, consistent
                    with our commitment to providing you with a satisfactory and helpful shopping experience. Please read
                    this Policy carefully. By visiting the Site and/or using the products and services made available to
                    you through the Site, you are agreeing to this Privacy Policy which shall apply to all information that
                    we have about you, and that any dispute over privacy is subject to this Privacy Policy and our Site’s
                    Terms and Conditions. HIMONA (“we”, “us”, “our” and “Company”) pledges to comply with
                    the Hong Kong Personal Data (Privacy) Ordinance (Cap. 486), and the Macau Personal Data Protection Act
                    (Law 8/2005). We understand the importance of protecting your Personal Data, and appreciate your confidence
                    that we will respect privacy in a careful and sensible manner.
                </td>
            </tr>
            <tr>
                <th scope="row">1）Personal Data</th>
                <td align="justify">
                    <ol>
                        <li>
                            Personal data (“Personal Data”) includes your name, residential address, email address, phone
                            number, gender, age, credit or debit card data, and any other information you may supply us for
                            identification purposes.
                        </li>
                        <li>
                            Our Site is intended for use by adults. We do not knowingly collect any Personal Data from
                            children under the age of 16. Those under the age of 16 should not use the Site or provide us
                            with any Personal Data.
                        </li>
                        <li>
                            If you provide us with Personal Data about another person, you represent and warrant to us that
                            you have obtained all necessary consents from that other person to permit us to use that Personal
                            Data as set forth in this Privacy Policy.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">2）Collection of Personal Data</th>
                <td align="justify">
                    <ol>
                        <li>
                            We may ask you to provide Personal Data when you use the Site, including when you voluntarily
                            register or update your existing profile with us, subscribe to catalogues or newsletters, email
                            us, use our customer services, answer surveys, enter promotional opportunities, post on our social
                            networks’ message boards, or make any other submissions to our Site.
                        </li>
                        <li>
                            Please note that it is mandatory for you to provide certain categories of Personal Data
                            (as specified at the time of collection). In the event that you do not provide any Personal
                            Data marked as mandatory, we may not be able to process your request, or provide you with our
                            products or services.
                        </li>
                        <li>
                            We may use cookies or similar technologies on our website to help us manage your website experience,
                            and allow for customization of the web pages presented to you when you return to the website. We do
                            not collect or store Personal Data from you under this circumstance. You can opt to disable cookies
                            or similar technologies at any time by simply modifying your browser’s configuration, but certain
                            functionality may become not available if you do so.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">3）Collection of Personal Data</th>
                <td align="justify">
                    <p>We collect and use Personal Data about you for the following purposes:</p>
                    <ol>
                        <li>
                            To process your requests or orders, and deliver services, such as goods, clothing alterations,
                            and other services;
                        </li>
                        <li>
                            To provide you with customer service and respond to your enquiries, feedback or claims;
                        </li>
                        <li>
                            To keep track of and analyse your purchases, transactions, shopping patterns, account activity,
                            and payment history;
                        </li>
                        <li>
                            To provide information about the Company and our products, such as newsletters, events, promotions
                            or contests;
                        </li>
                        <li>
                            To conduct surveys and analyses for research, statistical, product and service developments in
                            an effort to improve your shopping experience (we may tailor our Site to your interests and offer
                            specific products to you accordingly); and
                        </li>
                        <li>
                            To comply with legal requirements.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">4）Management of Personal Data</th>
                <td align="justify">
                    <p>We collect and use Personal Data about you for the following purposes:</p>
                    <ol>
                        <li>
                            We take reasonable steps to make sure that the Personal Data we collect is protected from
                            unauthorised access, disclosure, misuse or loss. We will collect, use or disclose your Personal
                            Data only with your knowledge and consent, as set out in the Privacy Policy unless otherwise
                            required or permitted by law.
                        </li>
                        <li>
                            <p>
                                Our Information Security Department is responsible for ensuring your Personal Data is protected
                                and strictly used in accordance with Clause 3. We take your privacy seriously. We have implemented
                                security safeguards appropriate to the sensitivity of the information, including the use of the
                                following measures:
                            </p>
                            <p>
                                （i）Physical security measures, such as restricted access facilities and appropriate disposal of Personal Data; an
                                <br>
                                （ii）Electronic security measures, such as password protection, for accessing computerised Personal Data.
                            </p>
                        </li>
                        <!--li>
                            We may share your Personal Data with the Fast Retailing Group, but only with your consent,
                            so that we can notify you about products, services, rewards and special offers you might enjoy.
                            These notifications may be given to you by postal mail, email, telephone, text message, automatic
                            dialing-announcing device or other means using the contact information that you provide to us.
                        </li>
                        <li>
                            Please note that we cannot be responsible for any Personal Data you share or post by way of
                            submissions to the public spaces of our Site. These are public areas and may be consulted or
                            viewed by anyone visiting these sections of our Site and, as such, falls outside this Privacy Policy.
                        </li-->
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">5）Storage of Personal Data</th>
                <td align="justify">
                    <ol>
                        <li>
                            We will keep your Personal Data as accurate, complete and up-to-date as necessary and reasonably
                            possible for the purposes for which it is to be used in accordance with Clause 3.
                        </li>
                        <li>
                            We will only retain your Personal Data as long as necessary for purposes listed in Clause 3 or as required by law.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">6）Disclosure to Third Party</th>
                <td align="justify">
                    <ol>
                        <li>
                            Personal Data will not be used or disclosed for purposes other than those listed in Clause 3,
                            except with your consent/indication of no objection, or as required/permitted by law.
                        </li>
                        <li>
                            To fulfill the purposes in Clause 3, we may disclose or transfer (whether in Hong Kong SAR,
                            Macau SAR or abroad) your Personal Data to third parties, including our parent, subsidiary and
                            associated companies. In particular, we may share your Personal Data with third party contractors
                            or service providers (“Third Party”) who help with our business operations, such as suppliers of
                            technological services, financial transactions, logistics services, transportation, reward programmes,
                            purchase order management, customer service, fraud investigations, and/or analysis of any transactions
                            made through the Site.
                        </li>
                        <li>
                            Please be assured that we shall implement contractual or other appropriate means to ensure
                            compliance by such Third Party with this Privacy Policy and all applicable privacy laws when
                            we disclose your Personal Data to Third Party.
                        </li>
                        <li>
                            We may share aggregate data that does not allow you to be identified with Third Party for various
                            purposes (including marketing and advertising), and may use this data in order to better understand
                            your needs and to improve and adapt our products and services.
                        </li>
                        <li>
                            If we consider it necessary to share your Personal Data with Third Party other than for the
                            reasons specified in this Clause, we will notify you and will only proceed with your consent/
                            indication of no objection.
                        </li>
                        <li>
                            In the event of suspected fraud, threat to personal safety, or violation against our Terms
                            and Conditions or relevant laws, we shall take prompt and all appropriate measures to investigate
                            and address such risks.
                        </li>
                        <li>
                            By providing Personal Data through the Site or otherwise to us, you expressly authorise us to
                            use and disclose your information as described. Please do not proceed if you do not agree on
                            the abovementioned Personal Data usage.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">7）Changes to the Privacy Policy</th>
                <td align="justify">
                    <ol>
                        <li>
                            We may make changes to this Privacy Policy from time to time. You should check our website
                            frequently to view recent changes of our Privacy Policy.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">8）Your Right to Access Personal Data</th>
                <td align="justify">
                    <ol>
                        <li>
                            You have the right of access to or correction of, and to withdraw your consent concerning your
                            Personal Data held by us.
                        </li>
                        <li>
                            <p>
                                If you have any questions regarding this Privacy Policy, or if you wish to access or change
                                your Personal Data, or withhold the information from us, you may visit your “Account” page
                                to edit or update your Personal Data, or send your request in writing to the following:
                            </p>
                            <p>
                                Address:
                                <br>
                                Email:
                            </p>
                        </li>
                        <li>
                            We reserve the right to charge you a reasonable fee for the processing of any data access request.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">9）Rights of Third Parties</th>
                <td align="justify">
                    <ol>
                        <li>
                            Notwithstanding the Contracts (Rights of Third Parties) Ordinance (Cap. 623), and/or any comparable
                            law in any jurisdiction, this Personal Privacy is personal to and is made solely for the benefit
                            of you and us, and shall not create or give any rights to, or purport to confer any benefits on
                            any third parties whatsoever. The application of the Contracts (Rights of Third Parties) Ordinance
                            (Cap. 623), and/or any comparable law in any jurisdiction, giving to or conferring on third parties,
                            the right to enforce any term of this Personal Privacy, is expressly excluded, and no term of this
                            Personal Privacy is, or is intended to be, enforceable by any person not being a party to it.
                            The rights of the parties to terminate, rescind, or agree any amendment, waiver, variation or
                            settlement under or relating to this Personal Privacy, are not subject to the consent of any third party.
                        </li>
                    </ol>
                </td>
            </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock%}
</body>
</html>