<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% if request.session.lang == "chi" %}
<main style="margin-top: 200px; margin-bottom: 200px; margin-right: 200px; margin-left: 200px;">
    {% if activated %}
    <h3>你的帳號經已激活，</h3>
    <br>
    <h2>非常感謝你的支持</h2>
    <br>
    <a href="/authenpage/signin">請再次登入便可購物</a>
    {% else %}
    <h3>Invalid</h3>
    {% endif %}
</main>
{% else %}
<main style="margin-top: 200px; margin-bottom: 200px; margin-right: 200px; margin-left: 200px;">
    {% if activated %}
    <h3>Your account is activated!</h3>
    <br>
    <h2>Thank you very much.</h2>
    <br>
    <a href="/authenpage/signin">Please click here to login</a>
    {% else %}
    <h3>Invalid</h3>
    {% endif %}
</main>
{% endif %}
<!--main style="margin-top: 200px; margin-bottom: 200px; margin-right: 200px; margin-left: 200px;">
    {% if activated %}
    <h3>你的帳號經已激活，</h3>
    <h2>非常感謝你的支持</h2>
    <a href="/myshop/authauthen/">請再次登入便可購物</a>
    {% else %}
    <h3>Invalid</h3>
    {% endif %}
</main-->
{% endblock %}
</body>
</html>