<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% if request.session.lang == "chi" %}
<main style="margin-right: 25px; margin-left: 50px; margin-top: 50px;">
    {% if cart_session %}
    {% endif %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <p></p>
            <h3 align="center">登入請輸入資訊</h3>
            <p></p>
            <form method="post" class="form-signin">
                {% csrf_token %}
                <table align="center">
                    {% for field in form %}
                    <tr>
                        <td align="center|justify" colspan="2">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing" style="width: 100px;">{{ field.label_tag }}</span>
                                </div>
                                {{ field }}
                            </div>
                            {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <p align="center" style="color: red">{{ error }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td align="center"><input class="btn btn-primary" type="submit" value="登入"></td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                        <td align="center"><a href="/accounts/password_reset/" class="btn btn-default">忘記密碼</a></td>
                    </tr>
                    <hr>
                </table>
            </form>
            <br>
            <hr>
            <br>
            <table align="center">
                <tr>
                    <td>
                        若未有登記，請註冊以繼續
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td align="center"><a class="btn btn-success" href="/authenpage/signup" role="button">註冊</a></td>
                </tr>
            </table>
            <br>
        </div>
    </div>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 50px; margin-top: 50px;">
    {% if cart_session %}
    {% endif %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <p></p>
            <h3 align="center">Signin Here</h3>
            <p></p>
            <form method="post" class="form-signin">
                {% csrf_token %}
                <table align="center">
                    {% for field in form %}
                    <tr>
                        <td align="center|justify" colspan="2">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing" style="width: 100px;">{{ field.label_tag }}</span>
                                </div>
                                {{ field }}
                            </div>
                            {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <p align="center" style="color: red">{{ error }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td align="center"><input class="btn btn-primary" type="submit" value="Signin"></td>
                    </tr>
                    <tr><td><br></td></tr>
                    <tr>
                        <td align="center"><a href="/accounts/password_reset/" class="btn btn-default">Forget password</a></td>
                    </tr>
                    <hr>
                </table>
            </form>
            <br>
            <hr>
            <br>
            <table align="center">
                <tr>
                    <td>
                        <h5>IF you dont't have an account, please click to signup.</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td align="center"><a class="btn btn-success" href="/authenpage/signup" role="button">Signup</a></td>
                </tr>
            </table>
        </div>
    </div>
</main>
{% endif %}
{% endblock %}
</body>
</html>
