<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
    <style>
        .table {
            align: center;
        }
    </style>
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% if request.session.lang == "chi" %}
{% if activation_sent %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br>
    <br>
    <p align="center">
        請登入EMAIL確認你的登記。
    </p>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 50px; margin-top: 50px;">
    <br>
    <form method="post" class="form-signin" action="">
        {% csrf_token %}
        <table align="center">
            <thead>
            <tr>
                <td>
                    <h3>填寫以註冊:</h3>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            </thead>
            {% for field in form %}
            <tr>
                <td align="center|justify">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing" style="width: 190px;">{{ field.label_tag }}</span>
                        </div>
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p align="center" style="color: red">{{ error }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <tr>
                <td>
                    <br>
                    <div class="row">
                        <input type="checkbox" class="form-control-lg" style="width: 1.25rem; height: 1.25rem;" id="exampleCheck1" required>
                        <p>. 剔號代表閣下確認已經閲讀、明白及接納本網站的<span><a href="/homepage/howto">《條款和條件》</a></span>。</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Lfv46cUAAAAAItYVa7ZIYJVi-GuPNEwxPtHqMFQ"></div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <br>
                    <input class="btn btn-primary" type="submit" value="註冊">
                </td>
            </tr>
        </table>
    </form>
    <br>
    <hr>
</main>
{% endif %}
{% else %}
{% if activation_sent %}
<main style="margin-right: 25px; margin-left: 50px; margin-top: 50px;">
    <br>
    <br>
    <p align="center">
        Please login to your email to confirm your registration.
    </p>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br>
    <form method="post" class="form-signin" action="">
        {% csrf_token %}
        <table align="center">
            <thead>
            <tr>
                <td>
                    <h3>Signup Form</h3>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            </thead>
            {% for field in form %}
            <tr>
                <td align="center|justify">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing" style="width: 190px;">{{ field.label_tag }}</span>
                        </div>
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p align="center" style="color: red">{{ error }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <tr>
            <tr>
                <td>
                    <br>
                    <div class="row">
                        <input type="checkbox" class="form-control-lg" style="width: 1.25rem; height: 1.25rem;" id="exampleCheck1" required>
                        <p>. By checking this box you agree to the our <span><a href="/homepage/howto">Terms and Agreement.</a></span></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6Lfv46cUAAAAAItYVa7ZIYJVi-GuPNEwxPtHqMFQ"></div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <br>
                    <input class="btn btn-primary" type="submit" value="Signup">
                </td>
            </tr>
        </table>
    </form>
    <br>
    <hr>
</main>
{% endif %}
{% endif %}
<!--
{% if activation_sent %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br>
    <br>
    <p align="center">
        請登入EMAIL確認你的登記。
    </p>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br>
    <form method="post" class="form-signin" action="">
        {% csrf_token %}
        <table align="center">
            <thead>
            <tr>
                <td>
                    <h3>填寫以註冊:</h3>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            </thead>
            {% for field in form %}
            <tr>
                <td align="center|justify">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing" style="width: 190px;">{{ field.label_tag }}</span>
                        </div>
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p align="center" style="color: red">{{ error }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td align="center">
                    <br>
                    <input class="btn btn-primary" type="submit" value="註冊">
                </td>
            </tr>
        </table>
    </form>
    <br>
    <hr>
</main>
{% endif %}
-->

{% endblock %}
</body>
</html>