<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<br>
<br>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <nav class="bd-links collapse show" id="bd-docs-nav" style="margin-left: 10px;">
                <div class="bd-toc-item active">
                    <a class="bd-toc-link" style="font-size: x-large; color: black; font-weight:bold;" href="/products/{{main_cat}}/all/all/none">
                        {% for i in main_cat_list%}
                        {% if request.session.lang == "chi" %}
                        {{ i.main_cat_chi }}<span style="font-size: medium;"> (按此閱覽所有)</span>
                        {% else %}
                        {{ i.main_cat }}<span style="font-size: medium;"> (click to view all)</span>
                        {% endif %}
                        {% endfor %}
                    </a>
                </div>
                <br>
                <div class="bd-toc-item">
                    {% if main_cat == 'fashion'%}
                    <a class="bd-toc-link" style="font-size: large; color: black; font-weight:bold;">
                        Gender
                    </a>
                    {% elif main_cat == 'characters' %}
                    <a class="bd-toc-link" style="font-size: large; color: black; font-weight:bold;">
                        Items
                    </a>
                    {% endif %}
                    {% for a, b in gender_list %}
                    <ul class="nav bd-sidenav">
                        <li>
                            {% if a == gender %}
                            <a style="font-size: medium; color: black; font-weight:bold; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/{{a}}/{{product_unique.label}}">
                                {% if request.session.lang == "chi" %}
                                {{ b }}
                                {% else %}
                                {{ a }}
                                {% endif %}
                            </a>
                            {% else %}
                            <a style="font-size: medium; color: black; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/{{a}}/{{product_unique.label}}">
                                {% if request.session.lang == "chi" %}
                                {{ b }}
                                {% else %}
                                {{ a }}
                                {% endif %}
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                    {% endfor %}
                    <ul class="nav bd-sidenav">
                        <li>
                            {% if gender == 'all' %}
                            <a style="font-size: medium; color: black; font-weight:bold; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/all/{{product_unique.label}}">
                                {% if request.session.lang == "chi" %}
                                全部
                                {% else %}
                                all
                                {% endif %}
                            </a>
                            {% else %}
                            <a style="font-size: medium; color: black; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/all/{{product_unique.label}}">
                                {% if request.session.lang == "chi" %}
                                全部
                                {% else %}
                                all
                                {% endif %}
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <br>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" style="font-size: large; color: black; font-weight:bold;">
                        Category
                    </a>
                    {% for i in secondary_cat_list %}
                    <ul class="nav bd-sidenav">
                        <li>
                            {% if i.secondary_cat == secondary_cat %}
                            <a style="font-size: medium; color: black; font-weight:bold; margin-left: 10px" href="/products/{{main_cat}}/{{i}}/{{gender}}/{{product_unique.label}}">
                                {% if request.session.lang == "chi" %}
                                {{ i.secondary_cat_chi }}
                                {% else %}
                                {{ i.secondary_cat }}
                                {% endif %}
                            </a>
                            {% else %}
                            <a style="font-size: medium; color: black; margin-left: 10px" href="/products/{{main_cat}}/{{i}}/{{gender}}/{{product_unique.label}}">
                                {% if request.session.lang == "chi" %}
                                {{ i.secondary_cat_chi }}
                                {% else %}
                                {{ i.secondary_cat }}
                                {% endif %}
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                    {% endfor %}
                    <ul class="nav bd-sidenav">
                        <li>
                            {% if secondary_cat == 'all' %}
                            <a style="font-size: medium; color: black; font-weight:bold; margin-left: 10px" href="/products/{{main_cat}}/all/{{gender}}/{{product_unique.label}}">
                                {% if request.session.lang == "chi" %}
                                全部
                                {% else %}
                                all
                                {% endif %}
                            </a>
                            {% else %}
                            <a style="font-size: medium; color: black; margin-left: 10px" href="/products/{{main_cat}}/all/{{gender}}/{{product_unique.label}}">
                                {% if request.session.lang == "chi" %}
                                全部
                                {% else %}
                                all
                                {% endif %}
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <br>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" style="font-size: large; color: black; font-weight:bold;">
                        Label
                    </a>
                    {% for a, b in label_list %}
                    <ul class="nav bd-sidenav">
                        <li>
                            {% if a == label or b == label %}
                            <a style="font-size: medium; color: black; font-weight:bold; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/{{gender}}/{{a}}">
                                {{b}}
                            </a>
                            {% else %}
                            <a style="font-size: medium; color: black; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/{{gender}}/{{a}}">
                                {{b}}
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <br>
                <hr>
                <br>
            </nav>
        </div>
        <div class="col-md-6 col-lg-2" style="margin-left:5px; width: 25rem; max-width: 320px; border-left: 0.1px solid;">
            {% for i in products_color %}
            <a href="/products/details/{{main_cat}}/{{secondary_cat}}/{{gender}}/{{i.product_id}}/{{i.color}}"><img class="img-fluid card-img-top" src="{{i.img1_thumbnail.url}}" alt="Card image cap"  style="height: auto; width: 120rem; display: block; object-fit: cover;" data-holder-rendered="true"></a>
            <br>
            {% endfor %}
        </div>
        <div class="col-md-12 col-lg-6" style="margin-left:5px; width: 50rem; max-width: 480px;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{product_unique.img1_thumbnail.url}}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{product_unique.img2_thumbnail.url}}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{product_unique.img3_thumbnail.url}}" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{product_unique.img4_thumbnail.url}}" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-12 col-lg-6" style="margin-left:5px; width: 60rem; max-width: 640px;">
            {% if 'username' in request.session %}
            <form name="AddProductToCart" method="post" style="margin-left: 2px;" onsubmit="return validateForm()">
                {% csrf_token %}
                <input type="text" name="product_id" value="{{product_unique.product_id}}" hidden>
                <input type="number" name="selling_price" value="{{product_unique.selling_price}}" hidden>
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="6" scope="row">
                            <h2><span class="badge badge-danger">{{product_unique.product_id}}</span>
                            </h2>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="6">
                            <h5>
                                {{ product_unique.description }}
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    {% if request.session.lang == "chi" %}
                                    <span class="input-group-text" id="inputGroup-sizing" style="width: 80px; font-size: large; font-weight: bold;">款式:</span>
                                    {% else %}
                                    <span class="input-group-text" id="inputGroup-sizing" style="width: 80px; font-size: large; font-weight: bold;">Color :</span>
                                    {% endif %}
                                </div>
                                <select class="costom-select" name="color" onchange="javascript:handleSelect(this)">
                                    <option value="{{product_unique.color}}">{{product_unique.color}}</option>
                                    {% for i in products_color %}
                                    {% if i.color != product_unique.color %}
                                    <option value="{{i.color}}">{{i.color}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <h5 style="color:white;">|</h5>
                                <div class="input-group-prepend">
                                    {% if request.session.lang == "chi" %}
                                    <label class="input-group-text" for="size" style="width: 60px; font-size: large; font-weight: bold;">尺碼: </label>
                                    {% else %}
                                    <label class="input-group-text" for="size" style="width: 60px; font-size: large; font-weight: bold;">Size: </label>
                                    {% endif %}
                                </div>
                                <select class="costom-select" name="size" size="1">
                                    {% for i in products %}
                                    <option value="{{i.size}}">{{i.size}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    {% if request.session.lang == "chi" %}
                                    <label class="input-group-text" for="quantity" style="width: 100px;  font-size: large; font-weight: bold;">數量: </label>
                                    {% else %}
                                    <label class="input-group-text" for="quantity" style="width: 100px;  font-size: large; font-weight: bold;">Quantity: </label>
                                    {% endif %}
                                </div>
                                <input type="number" name="quantity" min="1" max="999" required>
                            </div>
                            <br>
                            {% for i in products %}
                            {% if request.session.lang == "chi" %}
                            <h5>尺碼 "{{i.size}}":
                                {% if i.available is True %}
                                有存貨
                                {% else %}
                                <span style="color: red;">需預訂</span>
                                {% endif %}
                            </h5>
                            {% else %}
                            <h5>Size "{{i.size}}":
                                {% if i.available is True %}
                                in stock
                                {% else %}
                                <span style="color: red;">Pre-order</span>
                                {% endif %}
                            </h5>
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <br>
                            {% if request.session.lang == "chi" %}
                            <input class="btn btn-primary" type="submit" value="加到購物車">
                            {% else %}
                            <input style="font-size: large;" class="btn btn-primary" type="submit" value="Add to cart">
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <script type="text/javascript">
                            function handleSelect(elm){
                                window.location.assign("/products/details/{{main_cat}}/{{secondary_cat}}/{{gender}}/{{product_unique.product_id}}/"+elm.value)
                            }
                            function validateForm(){
                                var x = document.forms["AddProductToCart"]["color"].value;
                                if (x == ""){
                                    alert("請選擇款式");
                                    return false;
                                }
                            }
                        </script>
            </form>
            {% else %}
            <hr>
            {% if request.session.lang == "chi" %}
            <h2><strong>&nbsp;請 <span style="color:crimson;">登入 </span> 以便選購.</strong></h2>
            {% else %}
            <h2><strong>&nbsp;Please <span style="color:crimson;">Signin </span> to place order.</strong></h2>
            {% endif %}
            <hr>
            {% endif %}
        </div>
    </div>
</div>

{% for i in products%}
{% endfor %}

{% for i in products_color %}
{% endfor %}



{% endblock%}
</body>
</html>