<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <nav class="bd-links collapse show" id="bd-docs-nav" style="margin-left: 10px;">
                <div class="bd-toc-item active">
                    <a class="bd-toc-link" style="font-size: x-large; color: black; font-weight:bold;" href="/products/{{main_cat}}/all/all/none">
                        {% for i in main_cat_list%}
                        {% if request.session.lang == "chi" %}
                        {{ i.main_cat_chi }}<span style="font-size: medium;"> (按此閱覽所有)</span>
                        {% else %}
                        {{ i.main_cat }}<span style="font-size: medium;"> (click to view all)</span>
                        {% endif %}
                        {% endfor %}
                    </a>
                </div>
                <br>
                <div class="bd-toc-item">
                    {% if main_cat == 'fashion'%}
                    <a class="bd-toc-link" style="font-size: large; color: black; font-weight:bold;">
                        Gender
                    </a>
                    {% elif main_cat == 'characters' %}
                    <a class="bd-toc-link" style="font-size: large; color: black; font-weight:bold;">
                        Items
                    </a>{% elif main_cat == 'noncharacters' %}
                    <a class="bd-toc-link" style="font-size: large; color: black; font-weight:bold;">
                        Items
                    </a>
                    {% endif %}
                    {% for a, b in gender_list %}
                    <ul class="nav bd-sidenav">
                        <li>
                            {% if a == gender %}
                            <a style="font-size: medium; color: black; font-weight:bold; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/{{a}}/{{label}}">
                                {% if request.session.lang == "chi" %}
                                {{ b }}
                                {% else %}
                                {{ a }}
                                {% endif %}
                            </a>
                            {% else %}
                            <a style="font-size: medium; color: black; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/{{a}}/{{label}}">
                                {% if request.session.lang == "chi" %}
                                {{ b }}
                                {% else %}
                                {{ a }}
                                {% endif %}
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                    {% endfor %}
                    <ul class="nav bd-sidenav">
                        <li>
                            {% if gender == 'all' %}
                            <a style="font-size: medium; color: black; font-weight:bold; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/all/{{label}}">
                                {% if request.session.lang == "chi" %}
                                全部
                                {% else %}
                                all
                                {% endif %}
                            </a>
                            {% else %}
                            <a style="font-size: medium; color: black; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/all/{{label}}">
                                {% if request.session.lang == "chi" %}
                                全部
                                {% else %}
                                all
                                {% endif %}
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <br>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" style="font-size: large; color: black; font-weight:bold;">
                        Category
                    </a>
                    {% for i in secondary_cat_list %}
                    <ul class="nav bd-sidenav">
                        <li>
                            {% if i.secondary_cat == secondary_cat %}
                            <a style="font-size: medium; color: black; font-weight:bold; margin-left: 10px" href="/products/{{main_cat}}/{{i}}/{{gender}}/{{label}}">
                                {% if request.session.lang == "chi" %}
                                {{ i.secondary_cat_chi }}
                                {% else %}
                                {{ i.secondary_cat }}
                                {% endif %}
                            </a>
                            {% else %}
                            <a style="font-size: medium; color: black; margin-left: 10px" href="/products/{{main_cat}}/{{i}}/{{gender}}/{{label}}">
                                {% if request.session.lang == "chi" %}
                                {{ i.secondary_cat_chi }}
                                {% else %}
                                {{ i.secondary_cat }}
                                {% endif %}
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                    {% endfor %}
                    <ul class="nav bd-sidenav">
                        <li>
                            {% if secondary_cat == 'all' %}
                            <a style="font-size: medium; color: black; font-weight:bold; margin-left: 10px" href="/products/{{main_cat}}/all/{{gender}}/{{label}}">
                                {% if request.session.lang == "chi" %}
                                全部
                                {% else %}
                                all
                                {% endif %}
                            </a>
                            {% else %}
                            <a style="font-size: medium; color: black; margin-left: 10px" href="/products/{{main_cat}}/all/{{gender}}/{{label}}">
                                {% if request.session.lang == "chi" %}
                                全部
                                {% else %}
                                all
                                {% endif %}
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <br>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" style="font-size: large; color: black; font-weight:bold;">
                        Label
                    </a>
                    {% for a, b in label_list %}
                    <ul class="nav bd-sidenav">
                        <li>
                            {% if a == label or b == label %}
                            <a style="font-size: medium; color: black; font-weight:bold; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/{{gender}}/{{a}}">
                                {{b}}
                            </a>
                            {% else %}
                            <a style="font-size: medium; color: black; margin-left: 10px" href="/products/{{main_cat}}/{{secondary_cat}}/{{gender}}/{{a}}">
                                {{b}}
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <br>
                <hr>
                <br>
            </nav>
        </div>

        <main class="col-12 col-md-9 col-xl-10" style="border-left: 0.1px solid; padding-left:30px;" role="main">
            <div class="row flex-xl-nowrap">
                <div class="card-deck">
                    {% for i in products %}
                    <div class="col-auto">
                        <div class="card" style="width: 20rem; max-width: 300px; margin-bottom: 20px;">
                            <a href="/products/details/{{main_cat}}/{{secondary_cat}}/{{gender}}/{{i.product_id}}/{{i.color}}"><img class="img-fluid card-img-top" src="{{i.img1_thumbnail.url}}" alt="Card image cap"  style="height: auto; width: 120rem; display: block; object-fit: cover;" data-holder-rendered="true"></a>
                            {% if i.label == 'hot' or i.label == 'trending' %}
                            <div style="color: #FF1493; font-weight:bold;">
                                {% elif i.label == 'preorder' %}
                            <div style="color: #20B2AA;">
                                    {% elif i.label == 'sale' %}
                            <div style="color: #FF4500; font-weight:bold;">
                                        {% else %}
                            <div style="color: auto;">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{i.product_id}}
                                        {% if i.label == 'hot' or i.label == 'trending' %}
                                        <span style="font-size: x-large; color: auto;"><sup>℃ ↑</sup></span>
                                        {% elif i.label == 'preorder' %}
                                        <span style="font-size: x-large;"><sup>(pre)</sup></span>
                                        {% elif i.label == 'sale' %}
                                        <span style="font-size: x-large;"><sup>%OFF</sup></span>
                                        {% endif %}
                                    </h5>
                                    <p class="card-text">{{i.description}}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% if i.discount == 0 %}
                                    <li class="list-group-item">$ {{i.selling_price}}</li>
                                    {% else %}
                                    <li class="list-group-item">({{i.discount}}% OFF) ⇨ $ {{i.selling_price}}<span style="color:red; font-size: x-large; float: right;">♡</span></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container-fluid col-auto" style="margin-right: 10px; margin-left: 24px; margin_bottom: 15px;" >
                    <div class="row flex-xl-nowrap">
                        <div class="pagination">
                <span class="step-links">
                    {% if products.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ products.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ products.number }} of {{ products.paginator.num_pages }}.
                    </span>
                    {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">next</a>
                    <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </main>
    </div>
    {% endblock%}
</body>
</html>