<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<br>
<form method="post" class="form-signin" action="">
    {% csrf_token %}
    <table align="center">
        <thead>
        <tr>
            <td>
                {% if request.session.lang == 'chi' %}
                <h3>填寫您的留言或查詢:</h3>
                {% else %}
                <h3>Please leave your comment here:</h3>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><br></td>
        </tr>
        </thead>
        {% for field in form %}
        <tr><td><br></td></tr>
        {% if 'Username:' in field.label_tag %}
        <input type="text" name="username" value="{{ username }}" hidden>
        {% elif 'Goal:' in field.label_tag %}
        {% if request.session.lang == 'chi' %}
        <tr>
            <td align="center|justify">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing" style="width: 120px;">類型:</span>
                    </div>
                    <select class="costom-select" name="goal" size="1">
                        {% for a, b in goal_list %}
                        <option value="{{a}}">{{b}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p align="center" style="color: red">{{ error }}</p>
                {% endfor %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td align="center|justify">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing" style="width: 120px;">Inquiry type:</span>
                    </div>
                    <select class="costom-select" name="goal" size="1">
                        {% for a, b in goal_list_eng %}
                        <option value="{{a}}">{{b}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p align="center" style="color: red">{{ error }}</p>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
            <td align="center|justify">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing" style="width: 120px;">{{ field.label_tag }}</span>
                    </div>
                    {{ field }}
                </div>
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p align="center" style="color: red">{{ error }}</p>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <tr>
            <td>
                <br>
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6Lfv46cUAAAAAItYVa7ZIYJVi-GuPNEwxPtHqMFQ"></div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <br>
                <input class="btn btn-primary" type="submit" value="留言">
            </td>
        </tr>
    </table>
</form>
{% endblock%}
</body>
</html>