<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_test_GbOuQ9RVpbLxVyLPhK486dPh009yJMdVNl');
    stripe.redirectToCheckout({
  sessionId: '{{payment_id}}'
}).then(function (result) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.
});
</script>
</body>
</html>