<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div align="centre" style="text-align: center;">
    <br>
    <br>
    <h3>
        Error message: Invalid
    </h3>
    <br>
    <br>
</div>
{% endblock%}
</body>
</html>