<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-2 col-xl-2 bd-sidebar">
            <!--h5 style="text-align: center">Titles</h5>
            <hr>
            <nav class="bd-links collapse show" id="bd-docs-nav" style="margin-left: 10px;">
                {% for i, j in user_titles %}
                <a href="/accountpage/messengerpage/title/{{i}}">^ {{j}}</a>
                <hr>
                {% endfor %}
            </nav-->
        </div>

        <main class="col-12 col-md-8 col-xl-8" style="" role="main">
            <div class="row flex-xl-nowrap">
                <div class="col-12 col-md-12 col-xl-12">
                    <h5 style="text-align: center">Messages</h5>
                    <hr>
                    {% for i in user_messages %}
                    <p><h6>Title: <a href="/accountpage/messengerpage/messages/{{i.inquiry_ref}}"> 【 {{i.title}} 】 </a><span style="font-style: italic; float: right;"> | Date: {{i.created_at}} | Created by: {{i.username}}</span></h6></p>
                    <hr>
                    {% endfor %}
                    <br>
                    <hr>
                </div>
            </div>
            <div class="container-fluid col-auto" style="margin-right: 10px; margin-left: 24px; margin_bottom: 15px;" >
                <div class="row flex-xl-nowrap">
                    <div class="pagination">
                <span class="step-links">
                    {% if user_messages.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ user_messages.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ user_messages.number }} of {{ user_messages.paginator.num_pages }}.
                    </span>
                    {% if user_messages.has_next %}
                    <a href="?page={{ user_messages.next_page_number }}">next</a>
                    <a href="?page={{ user_messages.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
                    </div>
                </div>
            </div>
        </main>
        <div class="col-12 col-md-2 col-xl-2 bd-sidebar">
            <!--h5 style="text-align: center">Titles</h5>
            <hr>
            <nav class="bd-links collapse show" id="bd-docs-nav" style="margin-left: 10px;">
                {% for i, j in user_titles %}
                <a href="/accountpage/messengerpage/title/{{i}}">^ {{j}}</a>
                <hr>
                {% endfor %}
            </nav-->
        </div>
    </div>
    <!--hr>
    <br>
    <div class="" align="center">
        {% if request.session.lang == "chi" %}
        <a class="btn btn-primary" href="/accountpage/addmessage" role="button">新信息</a>
        {% else %}
        <a class="btn btn-primary" href="/accountpage/addmessage" role="button">Add message</a>
        {% endif %}
    </div-->
    <br>
</div>
{% endblock %}
</body>
</html>