<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-2 col-xl-2 bd-sidebar">
            <!--h5 style="text-align: center">Titles</h5>
            <hr>
            <nav class="bd-links collapse show" id="bd-docs-nav" style="margin-left: 10px;">
                {% for i, j in user_titles %}
                <a href="/accountpage/messengerpage/title/{{i}}">^ {{j}}</a>
                <hr>
                {% endfor %}
            </nav-->
        </div>

        <main class="col-12 col-md-8 col-xl-8" style="" role="main">
            <br>
            <h4 align="center">Message</h4>
            {% for i in message_unique%}
            <div align="center">
                <h5 style="font-weight: bold;">
                    {% if request.session.lang == 'chi'%}
                    信息標題 : <span style="font-style: italic;">{{i.title}}</span>
                    {% else %}
                    Title : <span style="font-style: italic;">{{i.title}}</span>
                    {% endif %}
                </h5>
                <hr>
            </div>
            <div align="left">
                <h6 style="font-weight: bold;">
                    {% if request.session.lang == 'chi'%}
                    信息編號 : <span style="font-style: italic;">{{i.inquiry_ref}}</span>
                    {% else %}
                    Message Ref : <span style="font-style: italic;">{{i.inquiry_ref}}</span>
                    {% endif %}
                </h6>
                <br>
                <h5>***</h5>
            </div>
            <div align="left" style="margin-left: 25px; margin-right: 25px;">
                <h5>
                    {{i.message}}
                </h5>
            </div>
            <br>
            {%endfor%}
            <hr>
            <div align="center">
                <h6 style="">
                    End of message
                </h6>
            </div>
            <br>
        </main>
    </div>
</div>
{% endblock%}
</body>
</html>