<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% if request.session.lang == "chi" %}
<main style="margin-right: 25px; margin-left: 25px;">
    <form action="" method="post">
        {% csrf_token %}
        <br><br>
        <h3 align="center">請按鍵付款</h3>
        <hr>
        <div align="center"><h5>訂單編號. <span style="color:blue;">{{invoice_slug}}</span></h5></div>
        <br>
        <div align="center"><h5>總額: $<span style="color:blue;">{{total_amount_content}}</span></h5></div>
        <!-- writes out the form tag automatically -->
        <br>
        <div align="center">
            <form action="" method="post">
                {% csrf_token %}
                <!--script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{pub_key}}"
                        data-name="HIMONA"
                        data-description="No: {{invoice_id}}"
                        data-amount="{{total_amount}}"
                        data-locale="auto"
                        data-currency="hkd"
                        data-billing-address="true">
                </script-->
                <script src="https://js.stripe.com/v3/"></script>
            <button id="button_pay" onclick="myFunction()" type="button" class="btn btn-info">付款</button>
            <script>
    var stripe = Stripe('pk_test_GbOuQ9RVpbLxVyLPhK486dPh009yJMdVNl');
    function myFunction() {
  var stripe = Stripe('pk_test_GbOuQ9RVpbLxVyLPhK486dPh009yJMdVNl');
  stripe.redirectToCheckout({
  sessionId: '{{payment_id}}'
}).then(function (result) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.
});
}
</script>
            </form>
        </div>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    <!--form action="" method="post"-->
    {% csrf_token %}
    <br><br>
    <h3 align="center">Please click to pay</h3>
    <hr>
    <div align="center"><h5>Order No. <span style="color:blue;">{{invoice_slug}}</span></h5></div>
    <br>
    <div align="center"><h5>Total amount: $<span style="color:blue;">{{total_amount_content}}</span></h5></div>
    <!-- writes out the form tag automatically -->
    <br>
    <div align="center">
        <form action="" method="post">
            {% csrf_token %}
            <!--script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{pub_key}}"
                    data-name="HIMONA"
                    data-description="No: {{invoice_id}}"
                    data-amount="{{total_amount}}"
                    data-locale="auto"
                    data-currency="hkd"
                    data-billing-address="true">
            </script-->
            <script src="https://js.stripe.com/v3/"></script>
            <button id="button_pay" onclick="myFunction()" type="button" class="btn btn-info">Pay Now!</button>
            <script>
    var stripe = Stripe('pk_test_GbOuQ9RVpbLxVyLPhK486dPh009yJMdVNl');
    function myFunction() {
  var stripe = Stripe('pk_test_GbOuQ9RVpbLxVyLPhK486dPh009yJMdVNl');
  stripe.redirectToCheckout({
  sessionId: '{{payment_id}}'
}).then(function (result) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.
});
}
</script>
        </form>
    </div>
    <!--/form-->
</main>
{% endif %}
{% endblock %}
</body>
</html>