<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}
{% if request.session.site_language == "chi" %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br><br>
    <h3 align="center">上傳你的入數紙.</h3>
    <hr>
    <div align="center"><h5>訂單編號. <span style="color:blue;">{{invoice_slug}}</span></h5></div>
    <br>
    <div align="center"><h5>總額: $<span style="color:blue;">{{total_amount}}</span></h5></div>
    <br>
    <form method="post" class="form-signin" action="" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="text" name="invoice" value="{{ invoice_slug }}" hidden>
        <input type="text" name="delivery_status" value="A" hidden>
        <input type="checkbox" name="advice_slip" value="True" checked hidden>
        <table align="center">
            <tr>
                <td>
                    <input id="id_advice_slip_file" type="file" name="advice_slip_file" accept="image/*" required/>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" value="上傳">
                </td>
            </tr>
        </table>
    </form>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br><br>
    <h3 align="center">Please click Upload to upload your advice slip.</h3>
    <hr>
    <div align="center"><h5>Order No. <span style="color:blue;">{{invoice_slug}}</span></h5></div>
    <br>
    <div align="center"><h5>Total amount: $<span style="color:blue;">{{total_amount}}</span></h5></div>
    <br>
    <form method="post" class="form-signin" action="" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type="text" name="invoice" value="{{ invoice_slug }}" hidden>
        <input type="text" name="delivery_status" value="A" hidden>
        <input type="checkbox" name="advice_slip" value="True" checked hidden>
        <table align="center">
            <tr>
                <td>
                    <input id="id_advice_slip_file" type="file" name="advice_slip_file" accept="image/*" required/>
                </td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" value="Upload">
                </td>
            </tr>
        </table>
    </form>
</main>
{% endif %}
{% endblock %}
</body>
</html>