<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% csrf_token %}
{% if request.session.lang  == "chi" %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br>
    <div class="p-3 mb-2 bg-danger text-white"><h4><strong>未付訂單:</strong></h4></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    訂單編號(按此查看詳細):
                </th>
                <th>
                    總額 (HKD$):
                </th>
                <th>
                    訂單狀態:
                </th>
                <th>
                    取件方法:
                </th>
                <th>
                    發貨狀態:
                </th>
                <th>
                    輸入優惠碼:
                </th>
                <th>
                    付款或上傳入數紙:
                </th>
            </tr>
            </thead>
            <tbody>
            {% for i in outstanding_invoice %}
            <tr>
                <td>
                    {% if i.cancel == True %}
                    {{ i.invoice }}
                    {% else %}
                    <a href="/accountpage/orderspage/outstanding/view/{{ i.invoice }}"><h6>{{ i.invoice }}</h6></a>
                    {% endif %}
                </td>
                <td>
                    <h6>{{ i.total_amount }}</h6>
                </td>
                <td>
                    {% if i.cancel == True %}
                    <h6 style="color: red;">已取消</h6>
                    {% else %}
                    <h6 style="color: red;">
                        {% if i.delivery_status == 'A'%}
                        處理上傳附件中
                        {% else %}
                        請先付款
                        {% endif %}
                    </h6>
                    {% endif %}
                </td>
                <td>
                    <h6 style="color: grey;">
                        {% if i.delivery_method == 'PU'%}
                        到店自取
                        {% else %}
                        速遞
                        {% endif %}
                    </h6>
                </td>
                <td>
                    <h6>------</h6>
                </td>
                <td>
                    {% if i.promo == False %}
                    <a class="btn btn-primary" href="/accountpage/orderspage/outstanding/promo/{{i.invoice}}" role="button">優惠碼</a>
                    {% else %}
                    <button class="btn btn-primary" disabled>優惠碼已確認</button>
                    {% endif %}
                </td>
                <td>
                    {% if i.cancel == False %}
                    {% if i.payment_method == 'P' or i.payment_method == 'O' %}
                    <a class="btn btn-primary" href="/accountpage/orderspage/outstanding/pay/{{i.payment_method}}/{{i.invoice}}" role="button">網上付款</a>
                    {% else %}
                    <a class="btn btn-primary" href="/accountpage/orderspage/outstanding/pay/{{i.payment_method}}/{{i.invoice}}" role="button">上傳憑證</a>
                    {% endif %}
                    {% else %}
                    <h6>稍後訂單會被移除</h6>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <hr>
    <div class="p-3 mb-2 bg-warning text-white"><h4><strong>已付訂單:</strong></h4></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    訂單編號(按此查看詳細):
                </th>
                <th>
                    總額(HKD$):
                </th>
                <th>
                    訂單狀態:
                </th>
                <th>
                    取件方法:
                </th>
                <th>
                    發貨狀態:
                </th>
                <th>
                    備註:
                </th>
            </tr>
            </thead>
            <tbody>
            {% for i in paid_invoice %}
            <tr>
                <td>
                    <a href="/accountpage/orderspage/paid/view/{{ i.invoice }}"><h6>{{ i.invoice }}</h6></a>
                </td>
                <td>
                    <h6>{{ i.total_amount }}</h6>
                </td>
                <td>
                    <h6>付款已確認</h6>
                </td>
                <td>
                    <h6>
                        {% if i.delivery_method == 'PU'%}
                        到店自取
                        {% else %}
                        速遞
                        {% endif %}
                    </h6>
                </td>
                <td>
                    <h6>
                        {% if i.delivery_method == 'PU' %}
                        {% if i.delivery_status == 'P' %}
                        準備中
                        {% elif i.delivery_status == 'D' %}
                        可取件
                        {% elif i.delivery_status == 'R' %}
                        請取件
                        {% endif %}
                        {% else %}
                        {% if i.delivery_status == 'P' %}
                        準備中
                        {% elif i.delivery_status == 'D' %}
                        已發貨
                        {% elif i.delivery_status == 'R' %}
                        請取貨
                        {% endif %}
                        {% endif %}
                    </h6>
                </td>
                <td>
                    <a id="remarks_button" onclick="remarkscheck()" class="btn btn-primary" href="/accountpage/orderspage/paid/remarks/{{i.invoice}}" role="button">Remarks</a>
                    <script>
                    function remarkscheck(theObject) {
                    var delivery_method = "{{i.delivery_method}}";
                    var delivery_method1 = "DL";
                    var delivery_status = "{{i.delivery_status}}";
                    var delivery_status1 = "P";
                    if (delivery_method===delivery_method1 && delivery_status!==delivery_status1) {
                    document.getElementById('remarks_button').removeAttribute('href');
                    alert("Your order has been dispatched");
                    }
                    else {
                      return true;
                    };
                    };
                    </script>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="p-3 mb-2 bg-info text-white"><h4><strong>已完成:</strong></h4></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    訂單編號(按此查看詳細):
                </th>
                <th>
                    總額(HKD$):
                </th>
                <th>
                    訂單狀態:
                </th>
                <th>
                    備註:
                </th>
            </tr>
            </thead>
            <tbody>
            {% for i in completed_invoice %}
            <tr>
                <td>
                    <a href="/accountpage/orderspage/complete/view/{{ i.invoice }}"><h6>{{ i.invoice }}</h6></a>
                </td>
                <td>
                    <h6>{{ i.total_amount }}</h6>
                </td>
                <td>
                    <h6>已收貨</h6>
                </td>
                <td>
                    <a class="btn btn-primary" href="/accountpage/orderspage/paid/remarks/{{i.invoice}}" role="button">Remarks</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br>
    <div class="p-3 mb-2 bg-danger text-white"><h4><strong>Outstanding order:</strong></h4></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Invoice Number(click to view detail):
                </th>
                <th>
                    Total price (HKD$):
                </th>
                <th>
                    Order Status:
                </th>
                <th>
                    Delivery Method:
                </th>
                <th>
                    Delivery Status:
                </th>
                <th>
                    Enter Promo Code:
                </th>
                <th>
                    Upload or Pay here:
                </th>
            </tr>
            </thead>
            <tbody>
            {% for i in outstanding_invoice %}
            <tr>
                <td>
                    {% if i.cancel == True %}
                    {{ i.invoice }}
                    {% else %}
                    <a href="/accountpage/orderspage/outstanding/view/{{ i.invoice }}"><h6>{{ i.invoice }}</h6></a>
                    {% endif %}
                </td>
                <td>
                    <h6>{{ i.total_amount }}</h6>
                </td>
                <td>
                    {% if i.cancel == True %}
                    <h6 style="color: red;">Canceled</h6>
                    {% else %}
                    <h6 style="color: red;">
                        {% if i.delivery_status == 'A'%}
                        upload received
                        {% else %}
                        Outstanding
                        {% endif %}
                    </h6>
                    {% endif %}
                </td>
                <td>
                    <h6 style="color: grey;">
                        {% if i.delivery_method == 'PU'%}
                        Pick up at store
                        {% else %}
                        Delivery to address
                        {% endif %}
                    </h6>
                </td>
                <td>
                    <h6>------</h6>
                </td>
                <td>
                    {% if i.promo == False %}
                    <a class="btn btn-primary" href="/accountpage/orderspage/outstanding/promo/{{i.invoice}}" role="button">Apply code</a>
                    {% else %}
                    <button class="btn btn-primary" disabled>Applied</button>
                    {% endif %}
                </td>
                <td>
                    {% if i.cancel == False %}
                    {% if i.payment_method == 'P' or i.payment_method == 'O' %}
                    <a class="btn btn-primary" href="/accountpage/orderspage/outstanding/pay/{{i.payment_method}}/{{i.invoice}}" role="button">Pay Here</a>
                    {% else %}
                    <a class="btn btn-primary" href="/accountpage/orderspage/outstanding/pay/{{i.payment_method}}/{{i.invoice}}" role="button">Upload Here</a>
                    {% endif %}
                    {% else %}
                    <h6>Order will be deleted later</h6>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>
    <div class="p-3 mb-2 bg-warning text-white"><h4><strong>Current paid order:</strong></h4></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Invoice Number(click to view detail):
                </th>
                <th>
                    Total price (HKD$):
                </th>
                <th>
                    Order Status:
                </th>
                <th>
                    Delivery Method:
                </th>
                <th>
                    Delivery Status:
                </th>
                <th>
                    Remarks:
                </th>
            </tr>
            </thead>
            <tbody>
            {% for i in paid_invoice %}
            <tr>
                <td>
                    <a href="/accountpage/orderspage/paid/view/{{ i.invoice }}"><h6>{{ i.invoice }}</h6></a>
                </td>
                <td>
                    <h6>{{ i.total_amount }}</h6>
                </td>
                <td>
                    <h6>Payment confirmed</h6>
                </td>
                <td>
                    <h6>
                        {% if i.delivery_method == 'PU'%}
                        Pick up at store
                        {% else %}
                        Delivery to address
                        {% endif %}
                    </h6>
                </td>
                <td>
                    <h6>
                        {% if i.delivery_method == 'PU' %}
                        {% if i.delivery_status == 'P' %}
                        Preparing
                        {% elif i.delivery_status == 'D' %}
                        Ready to pickup
                        {% elif i.delivery_status == 'R' %}
                        Ready to collect
                        {% endif %}
                        {% else %}
                        {% if i.delivery_status == 'P' %}
                        Preparing
                        {% elif i.delivery_status == 'D' %}
                        Dispatched
                        {% elif i.delivery_status == 'R' %}
                        Ready to collect
                        {% endif %}
                        {% endif %}
                    </h6>
                </td>
                <td>
                    <a class="btn btn-primary" href="/accountpage/orderspage/paid/remarks/{{i.invoice}}" role="button">Remarks</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="p-3 mb-2 bg-info text-white"><h4><strong>Past order:</strong></h4></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Invoice Number(click to view detail):
                </th>
                <th>
                    Total price (HKD$):
                </th>
                <th>
                    Order Status:
                </th>
                <th>
                    Remarks:
                </th>
            </tr>
            </thead>
            <tbody>
            {% for i in completed_invoice %}
            <tr>
                <td>
                    <a href="/accountpage/orderspage/complete/view/{{ i.invoice }}"><h6>{{ i.invoice }}</h6></a>
                </td>
                <td>
                    <h6>{{ i.total_amount }}</h6>
                </td>
                <td>
                    <h6>Received</h6>
                </td>
                <td>
                    <a class="btn btn-primary" href="/accountpage/orderspage/paid/remarks/{{i.invoice}}" role="button">Remarks</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endif %}
{% endblock %}
<hr>
</body>
</html>