<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<style>
    textarea {
    height: 50px;
}
</style>
{% if request.session.lang == "chi" %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br>
    <h4 align="center" style="color:blue;">訂單詳情</h4>
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>
                物品編號.
            </th>
            <th>
                樣式
            </th>
            <th>
                款式
            </th>
            <th>
                尺碼
            </th>
            <th>
                每件價值
            </th>
            <th>
                數量
            </th>
            <th>
                存貨狀態
            </th>
        </tr>
        </thead>
        <tbody>
        {% for i in invoice_detail_item %}
        <tr>
            <td>
                <h6>{{ i.product_id_unique }}</h6>
            </td>
            <td>
                {% for j in product_details %}
                {% if j.product_id_unique == i.product_id_unique %}
                <img class="" src="{{j.img1_thumbnail.url}}" alt="Card image cap" style="height: auto; width: 120PX; display: block;" data-holder-rendered="true">
                {% endif %}
                {% endfor %}
            </td>
            <td>
                <h6>{{ i.color }}</h6>
            </td>
            <td>
                <h6>{{ i.size }}</h6>
            </td>
            <td>
                <h6>${{ i.selling_price }}</h6>
            </td>
            <td>
                <h6>{{ i.quantity }}</h6>
            </td>
            <td>
                {% if i.preorder == False %}
                <h6 style="color:green;">有存貸</h6>
                {% else %}
                <h6 style="color:red;">預購</h6>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br>
    <form method="post" class="form-signin">
        {% csrf_token %}
        <input type="text" name="invoice" value="{{invoice_slug}}" hidden>
        <table class="table">
            <thead>
            <tr style="color:blue;">
                <th>
                    訂單編號(按此查看詳細):
                </th>
                <th>
                    付款方法:
                </th>
                <th>
                    取貨方法:
                </th>
                <th>
                    取貨地點:
                </th>
                <th>
                    取消:
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for i in form %}
                <td>
                    {% if i.label == "Invoice" %}
                    <h6>{{invoice_slug}}</h6>
                    {% else %}
                    {{i}}
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
        <div align="center"><input class="btn btn-primary" type="submit" value="更新"></div>
    </form>
    <hr><br>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br>
    <h4 align="center" style="color:blue;">Order details:</h4>
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>
                Item No.
            </th>
            <th>
                Photo
            </th>
            <th>
                Color
            </th>
            <th>
                Size
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                In stock
            </th>
        </tr>
        </thead>
        <tbody>
        {% for i in invoice_detail_item %}
        <tr>
            <td>
                <h6>{{ i.product_id_unique }}</h6>
            </td>
            <td>
                {% for j in product_details %}
                {% if j.product_id_unique == i.product_id_unique %}
                <img class="" src="{{j.img1_thumbnail.url}}" alt="Card image cap" style="height: auto; width: 120PX; display: block;" data-holder-rendered="true">
                {% endif %}
                {% endfor %}
            </td>
            <td>
                <h6>{{ i.color }}</h6>
            </td>
            <td>
                <h6>{{ i.size }}</h6>
            </td>
            <td>
                <h6>${{ i.selling_price }}</h6>
            </td>
            <td>
                <h6>{{ i.quantity }}</h6>
            </td>
            <td>
                {% if i.preorder == False %}
                <h6 style="color:green;">YES</h6>
                {% else %}
                <h6 style="color:red;">Pre Order</h6>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br>
    <form method="post" class="form-signin">
        {% csrf_token %}
        <input type="text" name="invoice" value="{{invoice_slug}}" hidden>
        <table class="table">
            <thead>
            <tr style="color:blue;">
                <th>
                    Invoice Number(click to view detail):
                </th>
                <th>
                    Payment method:
                </th>
                <th>
                    Delivery Method:
                </th>
                <th>
                    Address:
                </th>
                <th>
                    Delete:
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for i in form %}
                <td>
                    {% if i.label == "Invoice" %}
                    <h6>{{invoice_slug}}</h6>
                    {% else %}
                    {{i}}
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
        <div align="center"><input class="btn btn-primary" type="submit" value="Update"></div>
    </form>
    <hr><br>
</main>
{% endif %}
{% endblock %}
</body>
</html>