<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<style>
    textarea {
    height: 50px;
}
</style>
{% if request.session.lang == "chi" %}
<main style="margin-right: 25px; margin-left: 25px;">
    <hr>
    <br>
    <h3 align="center">Order Ref: <span style="color:auto;">{{invoice_slug}}</span></h3>
    <br>
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>
                物品編號.
            </th>
            <th>
                樣式
            </th>
            <th>
                款式
            </th>
            <th>
                尺碼
            </th>
            <th>
                每件價格
            </th>
            <th>
                數量
            </th>
            <th>
                狀態
            </th>
        </tr>
        </thead>
        <tbody>
        {% for i in invoice_detail_item %}
        <tr>
            <td>
                <h6>{{ i.product_id_unique }}</h6>
            </td>
            <td>
                {% for j in product_details %}
                {% if j.product_id_unique == i.product_id_unique %}
                <img class="" src="{{j.img1_thumbnail.url}}" alt="Card image cap" style="height: auto; width: 120PX; display: block;" data-holder-rendered="true">
                {% endif %}
                {% endfor %}
            </td>
            <td>
                <h6>{{ i.color }}</h6>
            </td>
            <td>
                <h6>{{ i.size }}</h6>
            </td>
            <td>
                <h6>${{ i.selling_price }}</h6>
            </td>
            <td>
                <h6>{{ i.quantity }}</h6>
            </td>
            <td>
                {% if i.preorder == False %}
                <h6 style="color:green;">存庫包裝中</h6>
                {% else %}
                <h6 style="color:red;">預購</h6>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    <hr>
    <div class="row">
        <div class="col-6"align="left">
            <h5>Delivery method: [
                {% if invoice_item.delivery_method == "PU" %}
                到店自取
                {% else %}
                寄至: {{invoice_item.address}}
                {% endif %}
                ]
            </h5>
            <br>
            <h5 align="left">預計送達時間:
            </h5>
            <h5>[
                {% if invoice_item.eta == "" %}
                稍後更新
                {% else %}
                {{invoice_item.eta}}
                {% endif %}
                ]
            </h5>
        </div>
        <div class="col-6" align="right">
            <h4 align="right">總額: HKD ${{invoice_item.total_amount}} (已收取)</h4>
            <h5 align="right">
                優惠碼使用: [
                {% if invoice_item.promo == True %}
                {{invoice_item.promo_code}}
                {% else %}
                ----
                {% endif %}
                ]
            </h5>
            <h5 align="right">付款方法[
                {% if invoice_item.payment_method == "P" %}
                PayPal
                {% elif invoice_item.payment_method == "O" %}
                Credit card by Stripe
                {% else %}
                Bank transfer
                {% endif %}
                ]
            </h5>
            <br>
            <h5 align="right">下單時間: {{invoice_item.created_at}}</h5>
            <h6 align="right">訂單款額已收取. 謝謝惠顧</h6>
        </div>
    </div>
    <hr>
    <h6 align="center">---發票完---</h6>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    <hr>
    <br>
    <h3 align="center">Order Ref: <span style="color:auto;">{{invoice_slug}}</span></h3>
    <br>
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>
                Item No.
            </th>
            <th>
                Photo
            </th>
            <th>
                Color
            </th>
            <th>
                Size
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Status
            </th>
        </tr>
        </thead>
        <tbody>
        {% for i in invoice_detail_item %}
        <tr>
            <td>
                <h6>{{ i.product_id_unique }}</h6>
            </td>
            <td>
                {% for j in product_details %}
                {% if j.product_id_unique == i.product_id_unique %}
                <img class="" src="{{j.img1_thumbnail.url}}" alt="Card image cap" style="height: auto; width: 120PX; display: block;" data-holder-rendered="true">
                {% endif %}
                {% endfor %}
            </td>
            <td>
                <h6>{{ i.color }}</h6>
            </td>
            <td>
                <h6>{{ i.size }}</h6>
            </td>
            <td>
                <h6>${{ i.selling_price }}</h6>
            </td>
            <td>
                <h6>{{ i.quantity }}</h6>
            </td>
            <td>
                {% if i.preorder == False %}
                <h6 style="color:green;">In stock and preparing</h6>
                {% else %}
                <h6 style="color:red;">Pre Order</h6>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    <hr>
    <div class="row">
        <div class="col-6"align="left">
            <h5>Delivery method: [
                {% if invoice_item.delivery_method == "PU" %}
                Pick up at store
                {% else %}
                Deliver to: {{invoice_item.address}}
                {% endif %}
                ]
            </h5>
            <br>
            <h5 align="left">Estimated time of delivery:
            </h5>
            <h5>[
                {% if invoice_item.eta == "" %}
                Will be update ASAP
                {% else %}
                {{invoice_item.eta}}
                {% endif %}
                ]
            </h5>
        </div>
        <div class="col-6" align="right">
            <h4 align="right">Total amount: HKD ${{invoice_item.total_amount}} (received)</h4>
            <h5 align="right">
                Promo code: [
                {% if invoice_item.promo == True %}
                {{invoice_item.promo_code}}
                {% else %}
                ----
                {% endif %}
                ]
            </h5>
            <h5 align="right">Pay by: [
                {% if invoice_item.payment_method == "P" %}
                PayPal
                {% elif invoice_item.payment_method == "O" %}
                Credit card by Stripe
                {% else %}
                Bank transfer
                {% endif %}
                ]
            </h5>
            <br>
            <h5 align="right">Order created at: {{invoice_item.created_at}}</h5>
            <h6 align="right">Payment was accepted within 72 hours.</h6>
        </div>
    </div>
    <hr>
    <h6 align="center"> End of Invoice</h6>
</main>
{% endif %}
{% endblock %}
</body>
</html>