<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}
{% if request.session.lang == "chi" %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br><br>
    <h3 align="center">請輸入優惠碼.</h3>
    <hr>
    <div align="center"><h5>訂單編號. <span style="color:blue;">{{invoice_slug}}</span></h5></div>
    <br>
    <div align="center"><h5>總額: $<span style="color:blue;" id="ori_total_amount">{{invoice_item.total_amount}}</span></h5></div>
    <br>
    <form method="post" class="form-signin" action="" enctype='multipart/form-data'>
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>
                    <h5>優惠碼:</h5>
                </td>
                <td><h5 style="color: white">_</h5></td>
                <td>
                    <input id="promo_code" type="text" name="promo_code" required/>
                </td>
                <td><h5 style="color: white">_</h5></td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="myFunction()">使用</button>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><h5>優惠後價格:</h5></td>
                <td></td>
                <td>
                    <h4>$<span style="color:red;" id="new_total_amount"></span></h4>
                </td>
                <td></td>
                <td></td>
            </tr>
            <script>
function myFunction() {
    var current_code = document.getElementById("promo_code").value;
    {% for i in all_promo_code %}
    if (current_code == "{{i.promo_code}}") {
    document.getElementById("new_total_amount").innerHTML = myFunction2("{{invoice_item.total_amount}}", "{{i.percent_off}}");
}
    {% endfor %}
}
function myFunction2(x, y) {
    return  Math.round((100-y) / 100 * x);
}
</script>
            <tr>
                <td><br></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="確認"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br><br>
    <h3 align="center">Enter your Promo code here, please.</h3>
    <hr>
    <div align="center"><h5>Order No. <span style="color:blue;">{{invoice_slug}}</span></h5></div>
    <br>
    <div align="center"><h5>Total amount: $<span style="color:blue;" id="ori_total_amount">{{invoice_item.total_amount}}</span></h5></div>
    <br>
    <form method="post" class="form-signin" action="" enctype='multipart/form-data'>
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>
                    <h5>PROMO CODE :</h5>
                </td>
                <td><h5 style="color: white">_</h5></td>
                <td>
                    <input id="promo_code" type="text" name="promo_code" required/>
                </td>
                <td><h5 style="color: white">_</h5></td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="myFunction()">Apply</button>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><h5>New Price:</h5></td>
                <td></td>
                <td>
                    <h4>$<span style="color:red;" id="new_total_amount"></span></h4>
                </td>
                <td></td>
                <td></td>
            </tr>
            <script>
function myFunction() {
    var current_code = document.getElementById("promo_code").value;
    {% for i in all_promo_code %}
    if (current_code == "{{i.promo_code}}") {
    document.getElementById("new_total_amount").innerHTML = myFunction2("{{invoice_item.total_amount}}", "{{i.percent_off}}");
}
    {% endfor %}
}
function myFunction2(x, y) {
    return  Math.round((100-y) / 100 * x);
}
</script>
            <tr>
                <td><br></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="Confirm"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
</main>
{% endif %}
{% endblock %}
</body>




</html>