<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}
{% if request.session.lang == "chi" %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br><br>
    <h3 align="center">請留言.</h3>
    <hr>
    <div align="center"><h5>訂單編號. <span style="color:blue;">{{invoice_slug}}</span></h5></div>
    <br>
    <form method="post" class="form-signin" action="" enctype='multipart/form-data'>
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>
                    <h5>您的留言:</h5>
                </td>
                <td><h5 style="color: white">_</h5></td>
                <td>
                    <input id="remarks" type="text" name="remarks" required/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="留言"></td>
                <td></td>
            </tr>
        </table>
    </form>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br><br>
    <h3 align="center">Please upload your remarks.</h3>
    <hr>
    <div align="center"><h5>Invoice_number. <span style="color:blue;">{{invoice_slug}}</span></h5></div>
    <br>
    <form method="post" class="form-signin" action="" enctype='multipart/form-data'>
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>
                    <h5>Your remarks:</h5>
                </td>
                <td><h5 style="color: white">_</h5></td>
                <td>
                    <input id="remarks" type="text" name="remarks" required/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="Upload"></td>
                <td></td>
            </tr>
        </table>
    </form>
</main>
{% endif %}
{% endblock %}
</body>
</html>