<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
    <style>
    </style>
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% csrf_token %}
{% if request.session.lang == "chi" %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br>
    <div style="text-align: center;">
        <h3 style="color:#FF4500; font-weight: bold;">購 物 車 :</h3>
    </div>
    <br>
    {% if cart_session %}
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>
                物品編號.
            </th>
            <th>
                樣式.
            </th>
            <th>
                款式.
            </th>
            <th>
                尺碼.
            </th>
            <th>
                單品價格.
            </th>
            <th>
                數量.
            </th>
        </tr>
        </thead>
        <tbody>
        {% for i, j in cart_session.items %}
        <tr>
            <td>
                <a href="/cartpage/modify/{{i}}/{{j.0}}/{{j.1}}"><h6>{{ i }}</h6></a>
            </td>
            {% for k in products %}
            {% if k.product_id_unique == i %}
            <td>
                <img class="" src="{{k.img1_thumbnail.url}}" alt="Card image cap" style="height: auto; width: 120PX; display: block;" data-holder-rendered="true">
            </td>
            {% endif %}
            {% endfor %}
            <td>
                <h6>{{ j.1 }}</h6>
            </td>
            <td>
                <h6>{{ j.2 }}</h6>
            </td>
            <td>
                <h6>${{ j.3 }}</h6>
            </td>
            <td>
                <h6>{{ j.4 }}</h6>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <h4>總價格: ${{ total }}</h4>
            </td>
            <td>
                <a class="btn btn-success" href="/cartpage/checkout" role="button">結帳</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    {% else %}
    <table class="table">
        <thead>
        <tr>
            <th>
                物品編號.
            </th>
            <th>
                樣式.
            </th>
            <th>
                款式.
            </th>
            <th>
                尺碼.
            </th>
            <th>
                每件價格.
            </th>
            <th>
                數量.
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="6" align="center">你的購物車已清空。</td>
        </tr>
        </tbody>
    </table>
    {% endif %}
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    <br>
    <div style="text-align: center;">
        <h3 style="color:#FF4500">Your Shopping Cart:</h3>
    </div>
    <br>
    {% if cart_session %}
    <div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>
                Item No.
            </th>
            <th>
                Photo
            </th>
            <th>
                Color
            </th>
            <th>
                Size
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>
        </tr>
        </thead>
        <tbody>
        {% for i, j in cart_session.items %}
        <tr>
            <td>
                <a href="/cartpage/modify/{{i}}/{{j.0}}/{{j.1}}"><h6>{{ i }}</h6></a>
            </td>
            {% for k in products %}
            {% if k.product_id_unique == i %}
            <td>
                <!--div class="col-6 col-md-3 col-lg-2 col-xl-2" style="padding-right: 1px; padding-left: 1px; margin-bottom: 1px;">
                    <div class="card" style="padding-right: 1px; padding-left: 1px; margin-left: 1px; margin-right: 1px; height: 100%;">
                        <div class="card"-->
                <img class="" src="{{k.img1_thumbnail.url}}" alt="Card image cap" style="height: auto; width: 120PX; display: block;" data-holder-rendered="true">
                <!--/div>
            </div>
        </div-->
            </td>
            {% endif %}
            {% endfor %}
            <td>
                <h6>{{ j.1 }}</h6>
            </td>
            <td>
                <h6>{{ j.2 }}</h6>
            </td>
            <td>
                <h6>${{ j.3 }}</h6>
            </td>
            <td>
                <h6>{{ j.4 }}</h6>
            </td>
        </tr>

        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <h6>Total: {{ total }}</h6>
            </td>
            <td>
                <a class="btn btn-success" href="/cartpage/checkout" role="button">Check Out</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    {% else %}
    <table class="table">
        <thead>
        <tr>
            <th>
                Item No.
            </th>
            <th>
                Photo
            </th>
            <th>
                Color
            </th>
            <th>
                Size
            </th>
            <th>
                Unit Price
            </th>
            <th>
                QUantity
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="6" align="center">Your Cart is empty.</td>
        </tr>
        </tbody>
        {% endif %}
    </table>
</main>
{% endif %}
{% endblock %}
<hr>
</body>
</html>