<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% if request.session.lang == "chi" %}
<main style="margin-right: 25px; margin-left: 25px;">
    {% if cart_session %}
    <form name="AddProductToCart" method="post" style="margin-left: 10px;">{% csrf_token %}
        <input type="text" name="product_id" value="{{product_unique.0.product_id}}" hidden>
        <input type="text" name="color" value="{{product_unique.0.color}}" hidden>
        <input type="text" name="size" value="{{product_unique.0.size}}" hidden>
        <input type="number" name="selling_price" value="{{product_unique.0.selling_price}}" hidden>
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    物品編號.
                </th>
                <th>
                    樣式.
                </th>
                <th>
                    款式.
                </th>
                <th>
                    尺碼.
                </th>
                <th>
                    每件價格.
                </th>
                <th>
                    數量.
                </th>
            </tr>
            </thead>
            <tbody>
            {% for i, j in cart_session.items %}
            {% if i == product_id_unique %}
            <tr>
                <td>

                </td>
                {% for k in products %}
                {% if k.product_id_unique == i %}
                <td>
                    <img class="" src="{{k.img1_thumbnail.url}}" alt="Card image cap" style="height: auto; width: 120PX; display: block;" data-holder-rendered="true">

                </td>
                {% endif %}
                {% endfor %}
                <td>
                    <h6>{{ j.1 }}</h6>
                </td>
                <td>
                    <h6>{{ j.2 }}</h6>
                </td>
                <td>
                    <h6>${{ j.3 }}</h6>
                </td>
                <td>
                    <h6><input type="number" name="quantity" min="0" max="999" placeholder="{{ j.4 }}"></h6>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="更新"></td>
            </tr>
            </tbody>
        </table>
        </div>
    </form>
    {% else %}
    Fuckoff
    {% endif %}
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    {% if cart_session %}
    <form name="AddProductToCart" method="post" style="margin-left: 10px;">{% csrf_token %}
        <input type="text" name="product_id" value="{{product_unique.0.product_id}}" hidden>
        <input type="text" name="color" value="{{product_unique.0.color}}" hidden>
        <input type="text" name="size" value="{{product_unique.0.size}}" hidden>
        <input type="number" name="selling_price" value="{{product_unique.0.selling_price}}" hidden>
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Item No.
                </th>
                <th>
                    Photo
                </th>
                <th>
                    Color
                </th>
                <th>
                    Size
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    QUantity
                </th>
            </tr>
            </thead>
            <tbody>
            {% for i, j in cart_session.items %}
            {% if i == product_id_unique %}
            <tr>
                <td>
                    <!--a href="/myshop/cart/modify/{{i}}"--><h6>{{ i }}</h6><!--/a-->
                </td>
                {% for k in products %}
                {% if k.product_id_unique == i %}
                <td>
                    <!--div class="col-6 col-md-3 col-lg-2 col-xl-2" style="padding-right: 1px; padding-left: 1px; margin-bottom: 1px;">
                        <div class="card" style="padding-right: 1px; padding-left: 1px; margin-left: 1px; margin-right: 1px; height: 100%;">
                            <div class="card"-->
                    <img class="" src="{{k.img1_thumbnail.url}}" alt="Card image cap" style="height: auto; width: 120PX; display: block;" data-holder-rendered="true">
                    <!--/div>
                </div>
            </div-->
                </td>
                {% endif %}
                {% endfor %}
                <td>
                    <h6>{{ j.1 }}</h6>
                </td>
                <td>
                    <h6>{{ j.2 }}</h6>
                </td>
                <td>
                    <h6>${{ j.3 }}</h6>
                </td>
                <td>
                    <h6><input type="number" name="quantity" min="0" max="999" placeholder="{{ j.4 }}"></h6>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="Update"></td>
            </tr>
            </tbody>
        </table>
        </div>
    </form>
    {% else %}
    Fuckoff
    {% endif %}
</main>
{% endif %}
{% endblock %}
</body>
</html>
