<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIMONA</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
{% if request.session.lang == "chi" %}
<main style="margin-right: 25px; margin-left: 25px;">
    {% if cart_session %}
    <h3 align="center" style="margin-top: 25px; margin-bottom: 25px;">Your order as below:</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Item No.
                </th>
                <th>
                    樣式.
                </th>
                <th>
                    款式.
                </th>
                <th>
                    尺碼.
                </th>
                <th>
                    每件價格.
                </th>
                <th>
                    數量.
                </th>
            </tr>
            </thead>
            <tbody>
            {% for i, j in cart_session.items %}
            <tr>
                <td>
                    <a><h6>{{ i }}</h6></a>
                </td>
                {% for k in products %}
                {% if k.product_id_unique == i %}
                <td>

                    <img class="" src="{{k.img1_thumbnail.url}}" alt="Card image cap" style="height: auto; width: 120PX; display: block;" data-holder-rendered="true">

                </td>
                {% endif %}
                {% endfor %}
                <td>
                    <h6>{{ j.1 }}</h6>
                </td>
                <td>
                    <h6>{{ j.2 }}</h6>
                </td>
                <td>
                    <h6>${{ j.3 }}</h6>
                </td>
                <td>
                    <h6>{{ j.4 }}</h6>
                </td>
            </tr>

            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                </td>
                <td>
                    <h4 style="color: brown;">Total: {{ total }}</h4>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Item No.
                </th>
                <th>
                    樣式.
                </th>
                <th>
                    款式.
                </th>
                <th>
                    尺碼.
                </th>
                <th>
                    每件價格.
                </th>
                <th>
                    數量.
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="6" align="center">你的購物車已清空。</td>
            </tr>
            </tbody>
            {% endif %}
        </table>
    </div>
</main>

<main style="margin-right: 25px; margin-left: 25px;">
    <hr>
    <h3 align="center">多謝惠顧!
        <br>結帳請填寫以下資料:</h3>
    <hr>
    <form method="post" class="form-signin">
        {% csrf_token %}
        <input type="text" name="username" value="{{username}}" hidden>
        <input type="number" name="total_amount" value="{{total_amount}}" hidden>
        <input type="number" name="ori_total_amount" value="{{total_amount}}" hidden>
        <input type="checkbox" class="form-check-input" name="outstanding" value="True" checked hidden>
        <div class="row">
            <div class="col-12  col-lg-6" style="padding-left: 0px;padding-right: 0px;">
                <div class="table-responsive">
                    <table align="center">
                        {% for field in form %}
                        {% if field.auto_id == "id_first_name" or field.auto_id == "id_last_name" or field.auto_id == "id_payment_method" %}
                        <tr>
                            <td align="center|justify">
                                <br>
                                {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing" style="width:150px;">{{ field.label_tag }}</span>
                                    </div>
                                    {{ field }}
                                </div>
                                {% for error in field.errors %}
                                <p align="center" style="color: red">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-6" style="padding-left: 0px;padding-right: 0px;">
                <div class="table-responsive">
                    <table align="center">
                        {% for field in form %}
                        {% if field.auto_id == "id_delivery_method" %}
                        <tr>
                            <td align="center|justify">
                                <br>
                                <br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing" style="width:150px;">{{ field.label_tag }}</span>
                                    </div>
                                    {{ field }}
                                </div>
                                {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                <p align="center" style="color: red">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td align="center|justify">
                                <br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing" style="width:150px;">送貨地址</span>
                                    </div>
                                    <textarea name="address" placeholder="Pick up at store" style="color: grey;">到店自取</textarea>
                                </div>
                                <small style="color: grey">若到店自取譎跳過。</small>
                            </td>
                        </tr>
                        <tr>
                            <td align="center|justify">
                                <br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing" style="width:150px;">聯絡電話:</span>
                                    </div>
                                    <input type="tel" name="phone_no" style="color: grey;" required>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div align="center">
            <input align="center" class="btn btn-primary" type="submit" value="繼續">
        </div>
    </form>
</main>
{% else %}
<main style="margin-right: 25px; margin-left: 25px;">
    {% if cart_session %}
    <h3 align="center" style="margin-top: 25px; margin-bottom: 25px;">Your order as below:</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Item No.
                </th>
                <th>
                    Photo
                </th>
                <th>
                    Color
                </th>
                <th>
                    Size
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    QUantity
                </th>
            </tr>
            </thead>
            <tbody>
            {% for i, j in cart_session.items %}
            <tr>
                <td>
                    <a><h6>{{ i }}</h6></a>
                </td>
                {% for k in products %}
                {% if k.product_id_unique == i %}
                <td>
                    <!--div class="col-6 col-md-3 col-lg-2 col-xl-2" style="padding-right: 1px; padding-left: 1px; margin-bottom: 1px;">
                        <div class="card" style="padding-right: 1px; padding-left: 1px; margin-left: 1px; margin-right: 1px; height: 100%;">
                            <div class="card"-->
                    <img class="" src="{{k.img1_thumbnail.url}}" alt="Card image cap" style="height: auto; width: 120PX; display: block;" data-holder-rendered="true">
                    <!--/div>
                </div>
            </div-->
                </td>
                {% endif %}
                {% endfor %}
                <td>
                    <h6>{{ j.1 }}</h6>
                </td>
                <td>
                    <h6>{{ j.2 }}</h6>
                </td>
                <td>
                    <h6>${{ j.3 }}</h6>
                </td>
                <td>
                    <h6>{{ j.4 }}</h6>
                </td>
            </tr>

            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                </td>
                <td>
                    <h4 style="color: brown;">Total: {{ total }}</h4>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Item No.
                </th>
                <th>
                    Photo
                </th>
                <th>
                    Color
                </th>
                <th>
                    Size
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    QUantity
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="6" align="center">Your Cart is empty.</td>
            </tr>
            </tbody>
            {% endif %}
        </table>
    </div>
</main>

<main style="margin-right: 25px; margin-left: 25px;">
    <hr>
    <h3 align="center">Thank you for your order : )
        <br>To Checkout please fill in the form below.</h3>
    <hr>
    <form method="post" class="form-signin">
        {% csrf_token %}
        <input type="text" name="username" value="{{username}}" hidden>
        <input type="number" name="total_amount" value="{{total_amount}}" hidden>
        <input type="number" name="ori_total_amount" value="{{total_amount}}" hidden>
        <input type="checkbox" class="form-check-input" name="outstanding" value="True" checked hidden>
        <div class="row">
            <div class=" col-lg-6" style="padding-left: 0px;padding-right: 0px;">
                <div class="table-responsive">
                    <table align="center">
                        {% for field in form %}
                        {% if field.auto_id == "id_first_name" or field.auto_id == "id_last_name" or field.auto_id == "id_payment_method" %}
                        <tr>
                            <td align="center|justify">
                                <br>
                                {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing" style="width:150px;">{{ field.label_tag }}</span>
                                    </div>
                                    {{ field }}
                                </div>
                                {% for error in field.errors %}
                                <p align="center" style="color: red">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-6" style="padding-left: 0px;padding-right: 0px;">
                <div class="table-responsive">
                    <table align="center">
                        {% for field in form %}
                        {% if field.auto_id == "id_delivery_method" %}
                        <tr>
                            <td align="center|justify">
                                <br>
                                <br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing" style="width:150px;">{{ field.label_tag }}</span>
                                    </div>
                                    {{ field }}
                                </div>
                                {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                <p align="center" style="color: red">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td align="center|justify">
                                <br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing" style="width:150px;">Delivery address:</span>
                                    </div>
                                    <textarea name="address" placeholder="Pick up at store" style="color: grey;">Pick up at store</textarea>
                                </div>
                                <small style="color: grey">Leave it blank if you choose to pick up at store.</small>
                            </td>
                        </tr>
                        <tr>
                            <td align="center|justify">
                                <br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing" style="width:150px;">Contact No:</span>
                                    </div>
                                    <input type="tel" name="phone_no" style="color: grey;" required>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div align="center">
            <input align="center" class="btn btn-primary" type="submit" value="Proceed">
        </div>
    </form>
</main>
{% endif %}
{% endblock %}
</body>
</html>